<% provide(:title, 'Caritas') %>
<div class="wrap_headline">
 <div class="headline">
  <h1>Caritas - Edith Mary House</h1>
 </div>
</div>
			
			
<div class="container">			
 <section id="middle">
  <div class="middle_inner">
   <div class="content_wrap">
	<div class="entry">
	 <div class="align_left one_half">

	  <div class="edith-gallery">
      <div class="slideButtons">
        <span class="prev"></span>
        <span class="next"></span>
    </div>
      <ul class="gallery">
        <li><%= image_tag('/assets/edithhouse/outside2.png', :class => 'fullwidth') %></li>
        <li><%= image_tag('/assets/edithhouse/outside3.jpg', :class => 'fullwidth') %></li>
        <li><%= image_tag('/assets/edithhouse/outside4.jpg', :class => 'fullwidth') %></li>

	  	 
        <li><%= image_tag('/assets/edithhouse/outside.jpg', :class => 'fullwidth') %></li>
        
      

        <li><%= image_tag('/assets/edithhouse/bathroom.jpg', :class => 'fullwidth') %></li>
        <li><%= image_tag('/assets/edithhouse/bathroom1.jpg', :class => 'fullwidth') %></li>
        <li><%= image_tag('/assets/edithhouse/bathroom2.jpg', :class => 'fullwidth') %></li>
        

        <li><%= image_tag('/assets/edithhouse/stairs.jpg', :class => 'fullwidth') %></li>
        <li><%= image_tag('/assets/edithhouse/stairs2.jpg', :class => 'fullwidth') %></li>
        <li><%= image_tag('/assets/edithhouse/bedroom3.jpg', :class => 'fullwidth') %></li>
        <li><%= image_tag('/assets/edithhouse/bedroom4.jpg', :class => 'fullwidth') %></li>
        <li><%= image_tag('/assets/edithhouse/bedroom5.jpg', :class => 'fullwidth') %></li>
      </ul>
      <p class="center italic">Click arrows to cycle through images of the house</p>
    </div>


	 </div>

    <p class="bold">A 'Not-For-Profit' Service offering;</p>
    <p class="bold">Specialist Supported Living Accommodation</p>

    <p class="bold">The Company was set up to respond to and meet the care and support needs of service-users, in Merthyr Tydfil.</p>
	
	 <p>Edith Mary House is a spacious, modern property, within the much sought after area of Cefn Coed in Merthyr Tydfil, (also known locally as Cefn Coed-y-cymmer). It is a small community on the north-western edge of Merthyr Tydfil County Borough in South Wales. It is situated in the neck of land between the rivers Taf Fawr and Taf Fechan. The village lies within the community of Vaynor. Immediately to the north of the village is the hill of Cefn Cil Sanws on the southern slopes of which is Merthyr Tydfil Golf Club. The village is bounded both to the north and the west by the Brecon Beacons National Park.</p>

   <p>Notable features of the village are the A465 Heads of the Valleys Road and the impressive curving Cefn Coed Viaduct, an 1866 Grade II* listed building which formerly carried the Brecon and Merthyr railway over the River Taff but which now carries the Taff Trail, route 8 of the National Cycleway. It is the third largest viaduct in Wales and was designed by engineers Alexander Sutherland and Henry Conybeare. Sutherland was a friend of Robert Thompson Crawshay of the nearby Cyfarthfa Ironworks, and the viaduct was built on a curve to satisfy conditions laid down by the Crawshay Estate.</p>

  <p>The house has a modern kitchen, a large range style cooker with extractor hood, splash back tiling, ceramic tiled flooring, a large fully functioning wet room with shower/dressing area, and a laundry room leading out to a large garden.</p>

  <p>The front of the property has a very large downstairs bedroom, a sensory ‘hide-out’, computer and sitting area, a communal lounge/dining area with large fronted window, sky television, feature fireplace, plastered walls, textured and cove ceiling, wooden laminate flooring, neutral colour scheme, the front window has uninterrupted views across the valley.</p>

  <p>Upstairs comprises of six large bedrooms, (some en-suite) a stunning modern bathroom with Jacuzzi bath and shower, a quiet reading and music area,  and a sensory room complete with a water bed, fibre optic lighting, light and bubble towers and sensory equipment. The room is a therapeutic environment using best practice of care and design making it instrumental in maintaining a person’s physical, cognitive and emotional well-being.</p>

  <p>Using the concepts and research behind 'Snoezelen' in our sensory room, we have created a safe and relaxing environment to suit the needs of the home and our tenants.</p>

  <p class="bold">New in 2014</p>

  <p>In April 2014 the front and back gardens will be sensitively landscaped exposing a sensory garden with intimate spaces where individuals can be immersed in the scents, textures and colours of plants and related elements. Along with specially selected plants, the sensory garden will include elements such as wind chimes, wind socks, flags, and art.</p>

  <p>An existing concrete outbuilding will be renovated for a wood- work room, complete with tools to make wooden items for sale, and a potter’s wheel & clay to create art which is a proven therapeutic activity.</p>

  <p>The house is surrounded by hills and trees and boasts quiet, picturesque woodland walks which make it an ideal setting for rest and recuperation.</p>

  <p>Cefn Coed is in an ideal location as it is close to all amenities and on a bus route. The regional shopping centre is situated at the Heads of the Valleys retail park in Merthyr Tydfil and the traditional shops and market in the historic town centre. Merthyr Tydfil has a number of places to dine and wine bars for a social evening with friendly local people.</p> 

  <p>There are a number of historic and places of interest to visit and a range of leisure opportunities, community projects, and activities within the town centre and county borough.</p>

	<div class="cl"></div>
     <div class="fullwidth_divider"></div>
								
 </div>
</div>
<!-- __________________________________________________ Finish Content -->		

 </div>
</section>

<script type="text/javascript">
  /* Caritas gallery */

   var speed = 100;

    jQuery(".prev").click(function(e) {
      e.preventDefault();
        var now = jQuery(this).parent().next("ul.gallery").children(":visible"),
            last = jQuery(this).parent().next("ul.gallery").children(":last"),
            prev = now.prev();
            prev = prev.index() == -1 ? last : prev;
        now.fadeOut(speed, function() {prev.fadeIn(speed);});
    });

    jQuery(".next").click(function(e) {
      e.preventDefault();
        var now = jQuery(this).parent().next("ul.gallery").children(':visible'),
            first = jQuery(this).parent().next("ul.gallery").children(':first'),
            next = now.next();
            next = next.index() == -1 ? first : next;
        now.fadeOut(speed, function() {next.fadeIn(speed);});
    });
</script>