<footer id="footer">
 <div class="footer_inner">
  <span>Richard Lewis &copy; 2013 All rights reserved</span>
   <div class="fr">
	<ul id="footer_nav" class="footer_nav">
	  <li><%= link_to 'Home', root_path %></li>
	  <li><%= link_to 'About Us', about_path %></li>
	  <li><%= link_to 'Contact Us', contact_path %></li>
	</ul>
   </div>
  </div>
</footer>