<a href="#" id="slide_top"></a>
 <header id="header">
  <div class="header_inner">
   <div class="social_block">
	<ul>
	 <li>
	  <a href="https://twitter.com/SupportedLMT" target="_blank">
	  	<%= image_tag("/assets/socialicons/twitter.png") %>
	  </a>
	 </li>
    
    <li>
	 <a href="https://www.facebook.com/supportedlivingmerthyr" target="_blank">
	  <%= image_tag("/assets/socialicons/facebook.png") %>
	 </a>
	</li>
   </ul>
	<a class="social_toggle" href="#"><span></span></a>
   </div>
   <%= link_to image_tag('/assets/logo.png', :size => '293x55'), root_path, :class => 'logo' %>
   <div class="captionHolder">
   	<span class="caption">Provider of Independent Living & Outreach Services in Merthyr Tydfil.....The Evolution of a Unique, Social Enterprise Project</span>
   </div>
    
	<a class="resp_navigation" href="javascript:void(0);"><span></span></a>
	<div class="cl"></div>

					
	<nav>
	 <ul id="navigation">
	  <li>
	  	<%= link_to root_path do %>
	  	 <span>Home</span>
	  	<% end %>
	  </li>
	  
	  <li class="drop">
	  	<%= link_to about_path do %>
	  	 <span>About Us</span>
	  	<% end %>
	  </li>
								
	 <li class="drop" id="projects">
	 	<a href="#">
	 	 <span>Our Projects</span>
	 	</a>
	  	<ul>
	  	  <li>
	  	  	<%= link_to our_projects_caritas_path do %>
		     <span>Edith Mary House</span>
		    <% end %>
	  	  </li>
	  </ul>
	 
	 <li>
	 	<%= link_to contact_path do %>
	 	 <span>Contact Us</span>
	    <% end %>
	 </li>
	</ul>
	<div class="cl"></div>
   </nav>
	<div class="cl"></div>
  </div>
</header>

<script type="text/javascript" charset="utf-8">
//<![CDATA[
jQuery(function() {

  jQuery('#navigation li').each(function() {
    var href = jQuery(this).find('a').attr('href');
    if (href === window.location.pathname) {
      jQuery(this).addClass('current_page_item');
    }
  });

});  
//]]>
</script>
