
<section id="top">
 <div class="top_inner">
  <div class="wrap_rev_slider">
  <!-- START REVOLUTION SLIDER 2.3.1 -->
	<div id="rev_slider_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
	 <div id="rev_slider" class="rev_slider fullwidthabanner" style="display:none; max-height:479px; height:479;">						
	  
	  <ul>
		<li data-transition="random" data-slotamount="7" data-masterspeed="300" >
			<%= image_tag('/assets/slider/bg-1.jpg') %>
		  <div data-linktoslide="4" data-easing="easeOutExpo" data-start="2900" data-speed="1000" data-y="283" data-x="671" class="caption sft tp-caption start">
		   <%= image_tag('/assets/slider/img-2.png') %>
		 </div>
		  
		  <div class="caption randomrotate tp-caption start" data-easing="easeOutExpo" data-start="2200" data-speed="700" data-y="283" data-x="883">
		   <%= image_tag('/assets/slider/img-3.png') %>
		  </div>
											
		  <div data-easing="easeOutBack" data-start="2000" data-speed="800" data-y="64" data-x="671" class="caption lfb tp-caption start">
			<%= image_tag('/assets/slider/img-1.png') %>
		  </div>
	    </li>
		
		<li data-transition="random" data-slotamount="7" >
		 <%= image_tag('/assets/slider/bg-3.png') %>
		  <div data-easing="easeOutBack" data-start="1800" data-speed="700" class="caption lfb tp-caption start" data-y="87" data-x="706">
		   <%= image_tag('/assets/slider/img-7.png') %>
		  </div>
		  <div data-easing="easeOutBack" data-start="2200" data-speed="800" data-y="285" data-x="706" class="caption lfb tp-caption start">
			<%= image_tag('/assets/slider/img-8.jpg') %>
		  </div>
            <div data-easing="easeOutBack" data-start="2400" data-speed="800" data-y="285" data-x="887" class="caption lfb tp-caption start">
			 <%= image_tag('/assets/slider/img-9.jpg') %>
		    </div>
		</li>
										
	    <li data-transition="random" data-slotamount="7" >
		 <%= image_tag('/assets/slider/bg-2.jpg') %>
          <div data-linktoslide="4" data-easing="easeOutExpo" data-start="1800" data-speed="1000" data-y="82" data-x="76" class="caption sft tp-caption start">
		   <%= image_tag('/assets/slider/img-4.png') %>
		  </div>
		 
		 <div class="caption randomrotate tp-caption start" data-easing="easeOutExpo" data-start="1800" data-speed="700" data-y="82" data-x="405">
		  <%= image_tag('/assets/slider/img-5.jpg') %>
		</div>
		 <div data-easing="easeOutBack" data-start="2200" data-speed="800" data-y="245" data-x="405" class="caption lfb tp-caption start">
		  <%= image_tag('/assets/slider/img-6.jpg') %>
		</div>
	   </li>
	  </ul>
     </div>
    </div>
	 <div class="cl"></div>
   </div>
  </div>
</section>