<% provide(:title, 'About Supported Living Merthyr Tydfil') %>
<div class="wrap_headline">
 <div class="headline">
  <h1>About Us</h1>
 </div>
</div>


<div class="container">			
 <section id="middle">
  <div class="middle_inner">
   <div class="content_wrap">

	 <div class="entry">
	  <div class="alignleft one_half" style="padding:0;">
		<figure>
			<%= image_tag('/assets/edithhouse/fronthouse.jpg', :class => 'fullwidth') %>
		</figure>
	  </div>
		
		 <p class="bold">SUPPORTED LIVING - PERSON-CENTRED PLANNING</p>

		 <p>We support individuals which may have a Learning Disability, Fragile X, Autism Spectrum Disorder, Challenging Behaviour, Asperger’s Syndrome, Physical Disability, Sensory Impairment and/or a Mental Health Issue, (dual diagnosis).</p>

		 <p>We help them to live the life they want, in the way they want. We work in partnership with individuals to increase their independence, improve their self-care skills, and encourage development of their home and community interests, hobbies and activities, promoting social inclusion.</p>

		 <p>The tenant recieves the support and assistance they need to live in their own home or a home of their own choice. If the Tenant's circumstances change, the support they recieve is changed. The most significant thing is that the support package matches the person’s assessed needs. Service provision is ‘needs led’ and not ‘service led’.</p>

		 <p>Our project can assist with all aspects of daily living; we work with agencies, whose role is to arrange, provide, or commission whatever assistance is necessary for a person to live in a decent and secure home of their own.</p>

		 <p>We help vulnerable indivuduals to stay safe, live happy, healthy and a productive lifestyle in the way that they wish.</p>

		 <p>Supported Living is an innovative approach to housing and support for vulnerable people based on the fundamental belief that every person has a right to lead their own life, to determine where, how, with whom they live and who provides them with support. We endorse this with the development of a Person-Centred Plan.</p>



		 <p>The ‘Person-Centred Plan' includes:</p>


		 <ul>
		  <li>Identifying need and Improve Life Skills.</li>
		  <li>Budget planning, Menu planning.</li>
		  <li>Welfare Benefit - Financial Support.</li>
		  <li>Further Education, Voluntary Work, and Paid Employment if applicable.</li>
		  <li>Accessing Community, Leisure and Sporting activities.</li>
		  <li>Improve Social Networks, promote Social Inclusion.</li>
		  <li>Maintain links with family, friends, interests, religion, other.</li>
		 </ul>


		 <p class="bold">Supported Living Services</p>

         <p>Our Supported Living Service provides a broad range of support to adults 18 to 65.</p>

         <p>We focus on 'Individual-Based Outcomes', to allow service-user’s to grow and develop, such as;</p>

         <ul>
          <li>Promoting Dignity.</li>
          <li>Encourage Choice and Control over Decision Making.</li>
          <li>Advocate Emotional and Physical Health Monitoring.</li>
          <li>Feeling Valued as an Integral part of Society.</li>
          <li>Making a Positive Contribution to the Local Community.</li>
          <li>Life free from Discrimination and Harassment.</li>
          <li>Enable Financial Security and Planning.</li>
          <li>Own accommodation.</li>
          <li>Maintaining relationships....</li>
          <li>Emotional Support.</li>
          <li>Confidence building.</li>
         </ul>

		 
		<div class="cl"></div>
									
		<div class="divider"></div>
		 <h2>Mission Statement</h2><br /> 
			 <div class="ovh">	
			 <blockquote> 
			   <p class="italic">Merthyr Tydfil Supported Housing will provide the highest level of care and support services to our tenants, by working closely with them, their families, health and social service team, other agencies, to promote choice and independence working in a person-centred way.</p>
          </blockquote>
			 </div>												
			<div class="divider"></div>
			 <div class="tour_content">
			  <h2>Why Choose Us</h2><br />
				<ul class="tour">
				 <li class="current">
				  <a href="#">Specialist Services</a>
				 </li>
				 
				 <li>
				  <a href="#">Person-Centered Planning</a>
				 </li>
				
				 <li>
				  <a href="#">Specialist Support Services</a>
				 </li>
				 
				 <li>
				  <a href="#">Supported Living</a>
				 </li>
				 
				 <li>
				  <a href="#">Support Services</a>
				 </li>
				</ul>
				

				<div class="tour_box" style="display:block;">
				 <div class="tour_box_inner">
				  <h5>Specialist Services</h5>
				   <p>Caritas, (Edith Mary House), in association with PartnerShip Share ‘Merthyr’ Limited, a Domiciliary Support Provider, has experience of delivering services to individuals with a wide range of complex care and support needs.</p>

				   <p>With our affiliation with PartnerShip Share 'Merthyr' Limited we are committed to improving the physical and emotional health & wellbeing of the people we support. Our work is, ‘Person-Centred' with the individuals at the centre of all decisions about their future plans.</p>

				 </div>
				</div>
				
				<div class="tour_box">
				 <div class="tour_box_inner">
				  <h5>Person-Centered Planning - PCP</h5>
				   <p>Person Centred Planning is a way of assisting people to work out what they want, the support they require, and helping them get it. It is a working tool for effective planning.</p>

				   <p>All of our services encourage the development of practical and social skills, enabling individuals to progress towards greater independence, at a pace that suits them, ensuring the person is at the centre of the planning process and is carried out in alliance with friends and family.</p>

				   <p>The P.C.P is always focused on getting 'real lives for people and plays a particularly important role in delivering objectives in the, “Valuing People Now” document.</p>

				   <p>The plan we follow is known as MAPS.</p>

				 </div>
				</div>
										
				<div class="tour_box">
				 <div class="tour_box_inner">
				  <h5>Specialist Support Services</h5>
				   <p>We are experienced in providing flexible, bespoke care and support services, tailored to meet the individual needs of clients. We work with Specialist Domiciliary Support Providers, Primary Care Trusts; Secondary Care Trusts, Social Services, DWP, Education; we work within a Multi-Disciplinary Care Framework to deliver bespoke, quality care services.</p>

				   <p>We have proven experience of providing care and support to clients with a variety of complex or specialist care needs and succeed where other traditional supports services fail.</p>

				   <p>Our support workers are trained in;</p>

				   <p class="bold">British Sign Language</p>

				   <p class="bold">PECS</p>

				   <p class="bold">Makaton</p>
				   
				 </div>
				</div>
										
				<div class="tour_box">
				 <div class="tour_box_inner">
				  <h5>Supported Living</h5>
				  <p>We recognise the importance to service-user’s of remaining in a familiar area as they begin to lead a more independent life.  If they know how to get to their friends’ house, how to see their family and the area is recognisable the more likely they will be to do things like shop, socialise, and use the facilities on their own.</p>

				  <p>Proximity to those closest to them, connections to their local community, and knowledge of services can make or break a placement.</p>

				  <p>Individuals with a range of complex needs can be very independent in environments they’re familiar with.</p>

				  <p>Our project focus’s on individual based outcomes, to allow individuals to grow and develop. Outcomes can focus on things like:</p>

				  <ul>
				    <li>Good quality housing and support</li>
         	        <li>Meeting new people - making friends and forming solid relationships</li>
         	        <li>Getting out and about/social inclusion</li>
         	        <li>Take an active role in the community</li>
         	        <li>Being safe/feeling secure</li>
         	        <li>Having a means to communicate and being communicated with</li>
         	        <li>Respect and trust</li>
         	        <li>Staying healthy</li>
         	        <li>Learning new skills</li>
			      </ul>

			      <p>Social inclusion and feeling a part of their local community is the key to so many supported living projects being successful.</p>
				 </div>
				</div>
										
				<div class="tour_box">
				 <div class="tour_box_inner">
				  <h5>Support Services</h5>
					<p>Many adults with special needs are unable to access the support or services they need, which leaves them isolated and vulnerable. A lack of timely appropriate support can result in deterioration in their physical, mental and emotional health. The right support at the right time can have a significant, positive impact upon an individual's quality of life and outcomes.</p>


					<p>Each Person with a Learning Disability is a unique individual, with individual needs.</p>

					<p>All assessments involve the individual, their family or carer, current care provider, (if appropriate) and their social worker or care manager to ensure that the needs of the individual can be met within our service.</p>

					<p>Our specialist supported living project enables vulnerable individuals, with complex needs, to live in their own homes and achieve their own personal goals and aspirations. We want to ensure that vulnerable individuals live as independently as possible, enjoy a fulfilled life, and that their needs are met in their local community.</p>
				 </div>
				</div>
			</div>



			<div class="divider"></div>
			<h2>Frequently Asked Questions</h2><br />

			<p class="clickQuestion">What is Supported Living?</p>
			<div class="reveal-answer">
             <p>Supported living is a way of providing housing and support services to help vulnerable members of our society to lead independent and fulfilling lives. Each person receives a package of support based on their individual needs. The term 'supported living' is flexible and open to interpretation; there's are many type's and models of supported living accommodation – it depends on what works for each person.</p>

             <p>Our project offers;</p>

             <ul>
              <li>Project support at (edith mary house), where support is provided in-line with your assessment.</li>
              <li>Support for compliance with the terms and conditions stated in your Assured Short-Hold Tenancy agreement.</li>
              <li>Independent bedsits that are part of a supported living ‘move-on’ scheme.(this is not provided as an alternative to an external package of care) </li>
             </ul>

			</div><!--/reveal-answer-->

			<p class="clickQuestion">What is an Assured Short hold Tenancy Agreement?</p>
			<div class="reveal-answer">
             <p>An assured short hold tenancy is a tenancy that gives you a legal right to live in your accommodation for an agreed period of time. Your tenancy might be for a set period such as six months - this is known as a fixed-term tenancy. Or it might roll on a week-to-week or month-to-month basis. This is known as a periodic tenancy.</p>

             <p>The law gives you rights to:</p>
             <ul>
             	<li>get information about your tenancy</li>
             	<li>control your home so that you can stop other people from freely entering</li>
             </ul>
           

             	<p>Supported living housing aims to increase each person's independence over time, by gradually reducing the amount of support needed, over a period of time until moving to more independent accomodation.</p>

			</div>



		   </div>
	
<!-- __________________________________________________ Finish Content -->		

<!-- __________________________________________________ Start Sidebar -->
				
							
<!-- __________________________________________________ Finish Sidebar -->	
						</div>
					</div>
				</section>
<!-- __________________________________________________ Finish Middle -->