<% provide(:title, 'Home') %>
<%= render 'shared/slider' %>


<section id="middle">
 <div class="middle_inner">
  <section id="middle_content">
   <div class="entry">

    <div class="mobileText">
    <p>We are Supported Living Housing Providers, based in Merthyr Tydfil, South Wales.</p>

    <p>We have experience in supporting people with Learning Disabilities and associated complex conditions, Fragile X, Autistic Spectrum, Asperger's Disorder, Challenging Behaviour, Physical Disability, Sensory Disability, Early Onset Dementia, Mental Health & Dual Diagnosis.</p>
    </div>

    <div class="one_third aligncenter">
     <div class="featured_block">
      <div class="cmsms_services_icon">
        <%= image_tag("/assets/services/home_1.png", :class => 'aligncenter') %>
     </div>
        <h2>Young Adults</h2>
        <p>If you are aged 18 to 65, with a diagnosis of Learning Disability and/or associated conditions. We may support you to live independently.</p>
     </div>
    </div>
                                

    <div class="one_third aligncenter">
     <div class="featured_block">
      <div class="cmsms_services_icon">
       <img alt="" class="aligncenter" src="/assets/services/home_2.png">
      </div>
        <h2>Specialist Services</h2>
        <p>Merthyr Tydfil Supported Housing and Support Services, in association with Partnership Share 'Merthyr Limited', have a diverse range of experience in delivering services to individuals with a wide range of care and support needs.</p>
        <div class="read-more">
        <p>Our work experience shows that we can improve the lives of learning disabled young adults, making a significant difference to their life prospects by providing a range of suitable options which include; good information, assistance around housing, support services, employment opportunities, education, finance, healthcare, making friends, social inclusion and relationships.</p>

        <p>We must make sure that we do not let their window of opportunity pass. It is therefore important that through personalised approaches and best practice evidence, we provide the support that people need to live the lives they choose.</p>

        </div><!--/read-more-->
        <br>
        <a class="reveal">Read More</a>

      </div>
    </div>
                                

    <div class="one_third last aligncenter">
     <div class="featured_block">
      <div class="cmsms_services_icon">
        <img alt="" class="aligncenter" src="/assets/services/home_3.png">
      </div>
        <h2>Choice</h2>
        <p>The main principles of Supported Living are that individuals with a learning disability own or rent their own home, have clear housing rights, have choice and control over the support they get and who provides it, who they choose to live with and how they want to live.</p>

        <div class="read-more">
        <p> Supported living is not one fixed design model and can look very different for different people.</p>

        <p>The work we do is Person-Centred, with the person at the centre of any plans and decisions that affect them.</p> 

        <p>We are committed to improving the health & well-being of the people we support.</p>
      </div><!--/read-more-->
      <a class="reveal">Read More</a>


     </div>


    </div>


        <div class="cl"></div>

        <div class="fullwidth">
      <h2>The Social Economy</h2>
      <p>We are a new, 'Social Enterprise', dedicated to, 'Developing' & 'Supporting', Community Projects in Merthyr Tydfil.</p>

      <p>As with all business ventures, we compete to deliver goods and services to others but with Merthyr Tydfil Housing & Support Services the difference is that 'Social' and 'Environmental' benefits are at the very heart of what we do, our profits are reinvested back into the Company towards achieving our community objectives.</p>

    </div>
                                
       
            <div class="two_third">
             <div class="tour_content">
              <h2>Supported Housing Project</h2><br />
               <ul class="tour">
                
                <li class="current">
                 <a href="#">Work Experience</a>
                </li>
                
                <li>
                 <a href="#">Gardening</a>
                </li>
                
                <li>
                 <a href="#">Sensory Activities</a>
                </li>
                
                <li>
                 <a href="#">Office Administration</a>
                </li>
                
                <li>
                 <a href="#">Fundraising</a>
                </li>
               </ul>
              

              <div class="tour_box" style="display:block;">
               <div class="tour_box_inner">
                <h5>Work Experience</h5>
                 <p>Our aim is to give individuals a taste of working life. This may not lead to a permanent position, but it will give an insight into what is expected of them in a work setting.</p>

                <p>We offer work experience, which provides a worthwhile fulfilling role within the local community. The project offers a safe, secure, work-based environment for as long as it is required. It gives a sense of purpose and achievement, builds confidence and self-esteem whilst giving the chance to discover and develop their own individual interests and abilities.</p>

                <p>Getting a job boosts self-esteem, fosters independence and makes life much more interesting but people with learning disabilities are not always given the right opportunities to realise their potential.</p>

                <p>One of the most important things to do when supporting someone to find a job or training is to find something that interests them. While it may not be possible to secure the job of their dreams, it’s important to try to match up at least some of their interests and passions with what’s out there.</p>
               </div>
              </div>
              
              <div class="tour_box">
               <div class="tour_box_inner">
                <h5>Gardening</h5>
                 <p>New for 2014, our sensory garden project.</p>

                 <p>We have an extensive back and front garden and will be employing a team who will work and volunteer in our grounds. We intend to grow our own vegetables, herbs and plant fruit trees. The gardening programme will encourage responsibility, build self-esteem, confidence and self-worth and forms friendships that will last a lifetime.</p>

                 <p>Project members will be encouraged to keep regular hours and good timekeeping, come suitably dressed for work, wet weather clothing, boots and gloves are provided. The variety of work brings our project members into contact with a wide range of people and interests.</p>
              
              </div>
             </div>
            
             <div class="tour_box">
              <div class="tour_box_inner">
               <h5>Sensory Activities</h5>
                <p>Due to the stresses of daily lives and the impact it may have on others with more complex needs we have a sensory room dedicated to relaxation and stimulation.</p>

                <p>The Sensory Room fosters an atmosphere of relaxation and tranquillity.</p>

                <p>A facility such as this has many benefits for individuals with special needs as it creates a stimulating and yet calming atmosphere and among other things can help to improve hand and eye co-ordination and develop language skills. The overactive person can be calmed, the inactive become interested.</p>

                <p>All people can benefit from using a receptive room to develop fundamental sensorial skills.  Sensory rooms are particularly useful for individuals with sight or hearing problems and have been proven to be extremely valuable to people with autism.</p>

                <p>Benefits:</p>

                <ul>
                  <li>Supports the development of communication</li>
                  <li>Enhances sensorial skills, hand-eye co-ordination</li>
                  <li>Assists the development of social and emotional skills</li>
                  <li>Reduces tension and increase relaxation</li>
                  <li>Provides fun and enjoyment</li>
                  <li>Improves levels of concentration, alertness, calmness</li>
                </ul>

              </div>
            </div>
                                        
             <div class="tour_box">
              <div class="tour_box_inner">
               <h5>Office Administration</h5>
                <p>With a working office our project members get to experience a working busy office, answering phones, booking appointments and dealing with money. The project members learn and develop employment and life skills as well as build self-esteem, confidence and communication skills.
                </p>
              </div>
             </div>
                                        
             <div class="tour_box">
              <div class="tour_box_inner">
                <h5>Fundraising</h5>
                <p>Our project members will have the opportunity to join our fundraising team, help to plan, organise and put into action fundraising ideas. Individuals involved will have the opportunity to learn computer skills, letter writing, communication skills, event planning and other relevant skills in planning and organising.</p>
             </div>
            </div>
           </div>
          </div>
                                

        <div class="one_third last">
         <div class="cmsms_shortcode_testimonials">
          <h2>Testimonials</h2><br />
           <header class="entry-header">
            <blockquote>
             <h6>Staff are very caring and listen to what I have to say. I am thankful for moving into Edith Mary House as I have met a lot of very nice people and I have learned a lot of new skills. It's changed my life for the better</h6>
             <p>Supported Living Tenant</p>
            </blockquote>
           </header>
              
          </div>
         </div>                                
      
      </div>
      <div class="fullwidth_divider"></div>
        <div class="one_third aligncenter">
         <div class="featured_block">
          <%= image_tag("/assets/members/bild.png", :class => 'aligncenter') %>
         </div>
        </div>
        
        <div class="one_third aligncenter">
         <div class="featured_block">
          <%= image_tag("/assets/members/venturewales.png", :class => 'aligncenter') %>
         </div>
        </div>
                
        
        <div class="one_third last aligncenter">
         <div class="featured_block"> 
         <%= image_tag("/assets/members/ccfw.png", :class => 'aligncenter') %> 
         </div>
        </div>
        </div>
        
       </div>
     </section>
<!-- __________________________________________________ Finish Content -->

    </div>
  </section>





<script type="text/javascript">


 var tpj=jQuery;
 tpj.noConflict();                                               
 var revapi2;
                                
 tpj(document).ready(function() {
    if (tpj.fn.cssOriginal != undefined)
    tpj.fn.css = tpj.fn.cssOriginal;
                                
    if(tpj('#rev_slider').revolution == undefined)
    revslider_showDoubleJqueryError('#rev_slider');
       else
        revapi2 = tpj('#rev_slider').show().revolution(
          {	
            delay:9000,
            startwidth:1160,
            startheight:479,
            hideThumbs:200,
            thumbWidth:100,
            thumbHeight:50,
            thumbAmount:5,
            navigationType:"bullet",
            navigationArrows:"solo",
            navigationStyle:"round",
            touchenabled:"on",
            onHoverStop:"on",
            navigationHAlign:"center",
            navigationVAlign:"bottom",
            navigationHOffset:0,
            navigationVOffset:21,
            soloArrowLeftHalign:"left",
            soloArrowLeftValign:"center",
            soloArrowLeftHOffset:0,
            soloArrowLeftVOffset:0,
            soloArrowRightHalign:"right",
            soloArrowRightValign:"center",
            soloArrowRightHOffset:0,
            soloArrowRightVOffset:0,
            shadow:1,
            fullWidth:"on",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,
            shuffle:"off",
            hideSliderAtLimit:0,
            hideCaptionAtLimit:0,
            hideAllCaptionAtLilmit:0,
            startWithSlide:0	
        });
      });	//ready

tpj(document).ready(function () { 
tpj('.post_type_list').cmsmsResponsiveContentSlider( { 
    sliderWidth : '100%', 
    sliderHeight : 'auto', 
    animationSpeed : 500, 
    animationEffect : 'slide', 
    animationEasing : 'easeInOutExpo', 
    pauseTime : 0, 
    activeSlide : 1, 
    touchControls : false, 
    pauseOnHover : false, 
    arrowNavigation : true, 
    slidesNavigation : false 
 });
});
</script>