<% provide(:title, 'Contact Us') %>
<div class="wrap_headline">
 <div class="headline">
  <h1>Contact Us</h1>
 </div>
</div>
			
<div class="container">			
 <section id="middle">
  <div class="middle_inner">


	<div class="content_wrap">
	 <section id="content">
	  <div class="entry">
	   <div class="resizable_block">
		<div id="map_canvas" class="google_map fullwidth"></div>
	   </div>
									
	<div class="cmsms-form-builder">
    <div class="one_half">
		<%= form_for @message, :url => contact_path, :method => :post, :html => {:id => 'contactform' } do |f| %> 
      
          <div class="control-group">
           <%= f.label :name, 'Name', :class => 'control-label' %>
            <div class="controls">
             <%= f.text_field :name, :id => 'inputName', :class => 'name', :placeholder => 'Enter Name Here...' %>
             <span class="help-inline" style="display: none;">Please Enter Your Name</span>
            </div>
          </div>

          <div class="control-group">
         <%= f.label :email, 'Email Address', :class => 'control-label' %>
         <div class="controls">
         <%= f.text_field :email, :id => 'inputEmail', :class => 'email', :placeholder => 'Enter Your E-mail Address...' %>
         <span class="help-inline" style="display: none;">Please Check Your Email</span>
         </div>
        </div>

           <div class="control-group">
         <%= f.label :number, 'Telephone Number', :class => 'control-label' %>
         <div class="controls">
         <%= f.text_field :number, :id => 'inputTel', :class => 'phone', :placeholder => 'Enter Your Telephone Number' %>
         <span class="help-inline" style="display: none;">Please Check Your Phone Number</span>
         </div>
        </div>

         <div class="control-group">
         <%= f.label :company, 'Company Name', :class => 'control-label' %>
         <div class="controls">
         <%= f.text_field :company, :id => 'inputCompany', :class => 'phone', :placeholder => 'If applicable' %>
         <span class="help-inline" style="display: none;">Please Check Your Company Name</span>
         </div>
        </div>

          </div>

          <div class="one_half">
       
          <div class="control-group">   
         <%= f.label :body, 'Your Message', :class => 'control-label' %>
         <div class="controls">
         <%= f.text_area :body, :id => 'textarea' %>
         <span class="help-inline" style="display: none;">Please Enter a Message</span>
         </div>
        </div>

         
       
       
              <div class="control-group">
                <div id="formSubmit">
              <%= f.submit "SEND", :class => 'button', :id => 'validForm' %>
                </div>
              </div>
           
       
      <% end %>
	 
										</div>
									
									</div>
								</div>
							</section>	
				
							<section id="sidebar">
								<div class="one_first">
									<aside class="widget widget_custom_advertising_entries">
										<h2>Address</h2>
										<ul>
											<li class="add">Dan y Garreg</li>
											<li class="add">Upper High Street</li>
											<li class="add">Cefn Coed</li>
											<li class="add">Merthyr Tydfil</li>
											<li class="add">CF48 2HW</li>
											<li class="add">01685 551629</li>
										</ul>
									</aside>	
								</div>


							</section>


						</div>
					</div>
				</section>


<script type="text/javascript">
    window.onload = function () {
        initialize();
    }
</script>
<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApUO4ajt4kh5KnLE-zJbdmDKrVf7zqsvA&sensor=false">
    </script>

 <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(51.764856, -3.409472),
          zoom: 13,
          scrollwheel: false,
          draggable: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
          position: map.getCenter(),
          map: map,
          title: 'Caritas'
        });

        var center;
        function calculateCenter() {
         center = map.getCenter();
        }
         google.maps.event.addDomListener(map, 'idle', function() {
         calculateCenter();
        });
         google.maps.event.addDomListener(window, 'resize', function() {
         map.setCenter(center);
        });

      }


      /* Submit button Disabled until Validation */

  jQuery(document).ready(function() {
    validate();
    jQuery('#inputName, #inputEmail, #inputTel' ).change(validate);
  });

  function validate(){
      if (jQuery('#inputName').val().length   >   0   &&
          jQuery('#inputEmail').val().length  >   0   &&
          jQuery('#inputTel').val().length    >   0) {
          jQuery("input[type=submit]").prop("disabled", false);
      }
      else {
        jQuery("input[type=submit]").prop("disabled", true);
      }
  }
</script>