html {height:100%;}

body {
	margin:0;
	padding:0;
	height:100%;
	background-color:#f4f4f4;
	background-image:url(<%= asset_path 'bg_body.jpg' %>);
	background-attachment:fixed;
	background-position:50% 0;
	background-repeat:repeat-x;
	text-align:left;
}

header, 
footer, 
article, 
section, 
nav, 
figure, 
address, 
hgroup, 
abbr,
small,
figcaption, 
aside {
	display:block;
	margin:0;
	padding:0;
}

figure img {display:block;}

abbr {border:0;}

address {font-style:normal;}

a {
	outline:none;
	text-decoration:none;
	cursor:pointer;
    -webkit-transition:color .3s ease-out;
    -moz-transition:color .3s ease-out;
    -ms-transition:color .3s ease-out;
    -o-transition:color .3s ease-out;
    transition:color .3s ease-out;
}

a:hover,
.comment-body .cmsms-edit:hover {text-decoration:none;}

p {
	margin:0 0 18px;
	padding:0;
	text-align: left;
	line-height:1.5em;
}

table {
	margin:0;
	padding:0;
	border-collapse:collapse;	
}

td, 
th, 
tr {
	margin:0;
	padding:0;
}

ol, 
ul, 
li, 
dl, 
dt, 
dd {
	margin:0;
	padding:0;
}

ol, 
ul {
	margin:0 0 18px;
	list-style-position:inside;
}

ul {
	list-style:none inside url(<%= asset_path 'list_image.png' %>);}

img {
	padding:0;
	border:0;
}

a img {
	display:block;
	border:0;
}

.fullwidth {
	display:block;
	min-width:100%;
	max-width:100%;
}

.maxwidth {
	display:block;
	max-width:100%;
}

img.fullwidth {
	-ms-interpolation-mode:bicubic;
	image-rendering:optimizeQuality;
}

.preloader {
	position:relative;
	display:block;
	padding-bottom:56.25%;
	width:100%;
	height:0;
	background:url(<%= asset_path 'loader.gif' %>) 50% 50% no-repeat;
}

.resizable_block {
	position:relative;
	display:block;
	overflow:hidden;
	padding-bottom:44.25%;
	width:100%;
	height:0;
}

.preloader .fullwidth, 
.portfolio_container .preloader .fullwidth, 
.cmsms_media .preloader .fullwidth, 
.resizable_block .fullwidth {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

figure .preloader.inBlog .fullwidth {
    position:relative;
    height:auto;
}

div {
	text-align:left;
	margin:0;
	padding:0;
}

blockquote, 
code, 
input, 
textarea {
	margin:0;
	padding:0;
}

object, 
video, 
audio, 
embed, 
canvas, 
iframe {display:block;}

form,
fieldset {
	border:0;
	margin:0;
	padding:0;
}

label {
	display:block;
	margin:0;
	padding:0;
}

input {
	outline:none;
	border:0;
	background:none;
}

textarea {
	overflow:hidden;
	outline:none;
	border:0;
	background:none;
	resize:none;
}

input,
textarea,
select, 
option {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
.related_posts_content div p a {
	margin:0 0 18px;
	padding:0;
}

.headline .cmsms_title h1 {margin:0 0 18px;}

h6 {
	margin:0 0 10px;
	padding:0;
}

.featured_block h2 {margin:15px 0;}

.colored_title_inner h2 {margin-bottom:5px;}

h1 a, 
h2 a, 
h3 a, 
h4 a, 
h5 a, 
h6 a {
	text-decoration:none; 
	font-style:inherit;
}

h3{
	position:relative;
	overflow:hidden;
}

h3:after{
	position:absolute;
	top:17px;
	margin-left:10px;
	width:99%;
	height:5px;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
	content:'';
}

.main_text {
	margin:0;
	padding:20px 0;
	text-align:center;
	font-size:28px;
	line-height:36px;
}

.cl {clear:both;}

.ovh {overflow:hidden;}

.fl {float:left;}

.fr {float:right;}

#page {
	position:relative;
	overflow:hidden;
	margin:32px auto 0;
	width:100%;
	height:auto;
}

#slide_top {
    position:fixed;
    right:20px;
    bottom:20px;
    z-index:999;
    display:none;
	padding:2px;
    width:35px;
    height:35px;
	background:url(<%= asset_path 'arrow_top.png' %>) no-repeat scroll 50% 50% transparent;
    text-indent:-9999px;
	opacity:.5;
	filter:alpha(opacity=50);
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	-webkit-transition:opacity .2s ease-in-out 0s, display .2s ease-in-out 0s;
	-moz-transition:opacity .2s ease-in-out 0s, display .2s ease-in-out 0s;
	-ms-transition:opacity .2s ease-in-out 0s, display .2s ease-in-out 0s;
	-o-transition:opacity .2s ease-in-out 0s, display .2s ease-in-out 0s;
	transition:opacity .2s ease-in-out 0s, display .2s ease-in-out 0s;
}

#slide_top:hover {
	opacity:1;
	filter:alpha(opacity=100);
}



/* Alerts */

div.alert {
    padding: 20px 15px 10px 35px;
    padding-left: 35px;
    margin-bottom: 10px;
}

.alert-success {
    border: 1px solid #72ad55;
    background-color: #ceefbe;
}

#flash_notice {
	text-align:center;
}

.help-inline {
	color:red;
	padding-top:5px;
}

.error {
	padding-bottom:0px;
}




/* -------------------------------------------------------------------------------- Header */

#header {
	margin:0 auto;
    padding:0 30px;
	min-height:184px;
    width:940px;
	background:#ffffff;
}

.header_inner {
	position:relative;
	margin:0 auto;
	width:940px;
}

.logo {
	display:block;
	padding-top:30px;
}

.captionHolder {
   margin-top:5px;
}

.caption {
	font-size:1.1em;
	color:#333;
}

.social_block {
	position:absolute;
	top:0;
	right:-10px;
	z-index:300;
	width:220px;
}

.social_block ul {
	overflow:hidden;
	margin:40px auto 0;
	padding:0 0 5px;
	width:100%;
	text-align:center;
}

.social_block ul li {
	display:inline-block;
	margin:5px 3px 3px 4px;
	list-style:none;
	text-align:center;
}

.social_block ul li a {display:block;}

.social_block ul li img {
	width:30px;
	height:30px;
	margin:0 auto;
}

.social_block ul li span {
	display:block;
	margin-top:10px;
}

.social_toggle {display:none;}

.social_toggle.current {
	bottom:-20px;
	height:20px;
}

.social_toggle span {
	display:block;
	height:20px;
	background:url(<%= asset_path 'social_toggle.png' %>) no-repeat scroll center top transparent;
}

.social_toggle.current span {background-position:center bottom;}

.social_block ul li {
	-webkit-transition:all .3s ease-in;
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	transition:all .3s ease-in;
}

.social_block ul li:hover {
	-webkit-transition:all 0.02s;
	-moz-transition:all 0.02s;
	-ms-transition:all 0.02s;
	-o-transition:all 0.02s;
	transition:all 0.02s;
}



/* -------------------------------------------------------------------------------- Navigation */

.resp_navigation {display:none;}

#header nav {
	position:absolute;
	top:117px;
	z-index:10;
	width:100%;
	background:#3A454B;
	-webkit-box-shadow:0 5px 2px -3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 5px 2px -3px rgba(0, 0, 0, 0.3);
	box-shadow:0 5px 2px -3px rgba(0, 0, 0, 0.3);
	text-align:center;
}

#header nav.fixed_nav {
	position:fixed;
	top:-100%;
	right:auto;
	z-index:200px;
	width:940px;
}

#navigation, 
#navigation ul {
	margin:0;
	list-style:none;
	padding:0;
}

#navigation:after {clear:both;}

#navigation {
    position:relative;
    z-index:202;
	display:inline-block;
    display:block;
	zoom:1;
}

#navigation ul {
	background-color:#ffffff;
	-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow:1px 1px 3px rgba(0, 0, 0, 0.15);
}

#navigation li {
	position:relative;
	display:block;
    float:left;
	margin-left:-1px;
}

#navigation > li:before {
	position:absolute;
	top:17px;
	right:0;
	width:1px;
	height:22px;
	background:rgba(255, 255, 255, .15);
	content:'';
	z-index:-1;
}

#navigation > li:hover:before {width:0px;}

#navigation li a {display:block;}

#navigation li, 
.tour li a {
	-webkit-transition:background-color .3s ease-in;
	-moz-transition:background-color .3s ease-in;
	-ms-transition:background-color .3s ease-in;
	-o-transition:background-color .3s ease-in;
	transition:background-color .3s ease-in;
}

#navigation li:hover, 
.tour li.current > a,
.tour li a:hover {
	-webkit-transition:background-color 0.01s;
	-moz-transition:background-color 0.01s;
	-ms-transition:background-color 0.01s;
	-o-transition:background-color 0.01s;
	transition:background-color 0.01s;
}

.jp_body #navigation > li {background-position:50.3% 0;}

#navigation > li > a > span {
	position:relative;
	display:block;
	padding:0 5px;
	width:122px;
	height:57px;
	text-align:center;
	word-wrap:break-word;
    line-height:57px;
	overflow:hidden;
}

#navigation ul {
	position:absolute;
	top:57px;
	left:0px;
	z-index:100;
	visibility:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:9px 0;
	opacity:0;
	-webkit-transition:opacity .3s ease-in-out, margin .3s ease-in-out;
	-moz-transition:opacity .3s ease-in-out, margin .3s ease-in-out;
	-ms-transition:opacity .3s ease-in-out, margin .3s ease-in-out;
	-o-transition:opacity .3s ease-in-out, margin .3s ease-in-out;
	transition:opacity .3s ease-in-out, margin .3s ease-in-out;
}

#navigation li:hover > ul {
	visibility:visible;
	margin:0;
	opacity:1;
}

#navigation ul ul {
	top:-9px;
	left:97%;
	margin:0 0 0 20px;
}

#navigation ul li:hover > ul {margin:0 0 0 1px;}

#navigation ul ul:before {
	position:absolute;
	top:0;
	left:-1px;
	width:1px;
	height:100%;
	content:'';
}

#navigation ul li {
	display:block;
	float:none;
	padding:0;
	height:auto;
	background:none;
}

#navigation ul li, 
#navigation ul li ul li, 
#navigation ul li ul li ul li {margin:0;}

#navigation ul li a {
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:5px 25px 5px;
	min-width:165px;
	min-height:35px;
	text-align:left;
}

#navigation ul li a span {display:block;}


/* ------------------------------------------------------------------------ Revolution Slider */

.rev_slider_wrapper{position:relative;}

.rev_slider_wrapper >ul {visibility:hidden;}

.rev_slider{
	position:relative;
	overflow:hidden;
}

.wrap_rev_slider {
	margin-top:20px;
	padding-bottom:30px;
}

.rev_slider {
	height:479px;
	overflow:hidden;
	position:relative;
}

.fullwidthbanner-container {overflow:visible !important;}

.tp-bannershadow.tp-shadow1 {
    background:url(<%= asset_path 'shadow_1.png' %>) no-repeat scroll 0 0 / 100% auto transparent !important;
    bottom:-36px !important;
    height:36px !important;
}

.tp-leftarrow.default, 
.tp-leftarrow.default:hover { 
	z-index:100; 
	cursor:pointer; 
	position:relative;  
	background-color:rgba(69, 75, 58, .2); 
	background-image:url(<%= asset_path 'slider_arrow.png' %>);
    background-repeat:no-repeat;
	background-position:center left !important;
	width:37px !important;
	height:55px !important;
	margin-top:-28px;
}

.tp-rightarrow.default, 
.tp-rightarrow.default:hover {	
	z-index:100; 
	cursor:pointer; 
	position:relative;
	background-image:url(<%= asset_path 'slider_arrow.png' %>);
    background-repeat:no-repeat;
	background-position:center right !important;
	width:37px !important; 
	height:55px !important;
	margin-top:-28px;
}

.tp-bullets.simplebullets.round .bullet {
	background-image:none !important;
    border-radius:50% 50% 50% 50%;
    cursor:pointer;
	float:none !important;
    display:inline-block;
    height:12px !important;
    margin-left:7px !important;
    margin-right:6px;
    margin-top:-6px;
    position:relative;
    width:12px !important;
}


/* Caritas Slider */

ul.gallery {
	list-style: none;
}

.gallery li {
	display:none;
	list-style-type: none;
}

.gallery li:first-child {
	display:block;
}

.edith-gallery {
	position:relative;
}


.prev {
position: absolute;
top: 50%;
z-index: 1000;
background:url(<%= asset_path 'arrow-left.png' %>);
width:32px;
height:39px;
}

.next {
position: absolute;
top: 50%;
right:0%;
z-index: 1000;
background:url(<%= asset_path 'arrow-right.png' %>);
width:32px;
height:39px;
}
 

/* -------------------------------------------------------------------------------- Top */

#top {
	position:relative;
	clear:both;
	overflow:hidden;
	margin:0 auto -30px;
	padding:0 30px;
	width:940px;
	background-color:#ffffff;
}

.top_inner {
	position:relative;
	z-index:2;
	overflow:hidden;
}


/* -------------------------------------------------------------------------------- Cont Nav */

.cont_nav {
	margin:0 auto;
	padding:14px 0 15px;
	width:940px;
    border-top: 1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
	font-size:13px;
}



/* -------------------------------------------------------------------------------- Headline */

.headline {
	margin:0 auto;
	padding:41px 0 6px;
	width:940px;
}

.headline > div {
	display:table-cell;
    vertical-align:middle;
}

.headline img {
	display:block;
	margin-right:14px;
}

.headline div h1 {margin:9px 0;}

.headline div > p {
	margin:-5px 0 10px;
	padding:0;
}

.headline table h2 {
	margin:0;
	padding:0;
}



/* -------------------------------------------------------------------------------- Middle */

.reveal {
	float: left;
	color:#33BEE5;
}

.clickQuestion{
	font: 100 1.4em/36px "Oxygen",Arial,Geneva,Helvetica,sans-serif;
	cursor: pointer;
}


.mobileText {
	display:none;
}

#middle {
	position:relative;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.middle_inner {
	position:relative;
	overflow:hidden;
	margin:0 auto;
	width:940px;
}

.header_inner {width:100%;}

.cont_nav, 
.headline, 
.middle_inner {
	padding-right:30px;
	padding-left:30px;
	background:#ffffff;
}



/* -------------------------------------------------------------------------------- Top Sidebar */

#sidebar {
    float: right;
    margin-left: 0;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    width: 22.5%;
}

#top_sidebar {
	border-bottom:1px solid #EDEDED;
	background:#ffffff;
	position:relative;
	overflow:hidden;
	margin:0 auto;
	width:940px;
	padding:30px;
}

#top_sidebar .aligncenter img {padding-bottom:18px;}

.nobg,
.cont_nav.nobg,
.content_wrap.nobg {background:none;}

.one_first {
	padding-bottom:20px;
	width:100%;
}

.one_half {
	float:left;
	padding-right:2%;
	padding-bottom:18px;
	width:49%;
}

.one_half.last {
	float:right;
	padding-right:0;
	width:48%;
}

.one_third {
	float:left;
	padding-right:4%;
	padding-bottom:18px;
	width:30.6%;
}

.one_third.last {
	float:right;
	padding-right:0;
	width:30.6%;
}

.two_third {
	float:left;
	padding-right:4%;
	padding-bottom:18px;
	width:65.2%;
}

.two_third.last {
	float:right;
	padding-right:0;
	width:65.2%;
}

.one_fourth {
	float:left;
	padding-right:3.34%;
	padding-bottom:18px;
	width:22.4%;
}

.featured_block {
	margin-top:9px;
	margin-bottom:21px;
	padding:20px 7px 1px;
	text-align:center;
}



.one_fourth.last {
	float:right;
	padding-right:0;
	width:22.4%;
}

.three_fourth {
	float:left;
	padding-right:3.5%;
	padding-bottom:18px;
	width:74%;
}

.three_fourth.last {
	float:right;
	padding-right:0;
	width:74%;
}

.one_half+.one_half, 
.one_third+.two_third, 
.two_third+.one_third, 
.one_third+.one_third+.one_third, 
.one_fourth+.one_fourth+.one_half, 
.one_fourth+.one_half+.one_fourth, 
.one_half+.one_fourth+.one_fourth, 
.one_fourth+.three_fourth, 
.three_fourth+.one_fourth, 
.one_fourth+.one_fourth+.one_fourth+.one_fourth {
	float:right;
	padding-right:0;
}



/* -------------------------------------------------------------------------------- Content */

.content_wrap {
	position:relative;
	overflow:hidden;
	padding:20px 0 40px;
}

.content_wrap:before {
	position:absolute;
	top:0;
	left:74.9%;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:1px;
	height:100%;
	content:'';
}

.content_wrap.sidebar_left:before {left:25.1%;}

.content_wrap.sidebar_left #content {
	float:right;
    padding-right:0;
	padding-left:4.8%;
}

#content {
    position:relative;
    float:left;
	overflow:hidden;
	padding:20px 0;
    width:72.4%;
}

#content.fr {float:right;}

.cmsms_services_icon {
	margin:0 auto;
	width:55px;
	height:55px;
}

.sitemap,
.sitemap_category {
	margin-top:2px;
	margin-bottom:30px;
}

.cms_archive {
	overflow:hidden;
	margin-bottom:30px;
}

.sitemap li,
.sitemap_category li,
.cms_archive li {
	position:relative;
	list-style:none;
	line-height:28px;
}


.sitemap_category {position:relative;}

.sitemap > li {
	position:relative;
    margin-bottom:38px;
    padding-bottom:33px;
    width:100%;
}

.sitemap ul {margin-bottom:0;}

.sitemap > li > ul {
    position:relative;
    overflow:hidden;
    margin-top:28px;
    width:100%;
}

.sitemap > li > ul > li:nth-child(4n+1) {clear:both;}

.sitemap > li > ul > li {
    float:left;
    width:25%;
}

.sitemap > li > ul > li > ul {margin-top:15px;}

.cms_archive li {
	display:block;
    float:left;
    width:25%;
    padding-bottom:25px;
}

.cmsms_timeline {
	position:relative;
	margin:-11px 0 0 0;
	padding:0 0 37px 29px;
	list-style:none;
	
}

.cmsms_timeline li {
	position:relative;
	padding-top:24px;
}

.cmsms_timeline li:before,
.cmsms_timeline:before {
	position:absolute;
	top:-2px;
	left:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:1px;
	height:28px;
	background:rgba(0, 0, 0, .08);
	content:'';
}

.cmsms_timeline:before {
	top:auto;
	bottom:11px;
	left:29px;
}

.cmsms_timeline li a {
	position:relative;
	padding-left:13px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

.cmsms_timeline li a:hover {padding-left:19px;}

.cmsms_timeline li a:before {
	position:absolute;
	top:5px;
	left:-2px;
	width:5px;
	height:5px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background:rgba(0, 0, 0, .2);
	content:'';
	-webkit-transition:background .3s ease-in-out;
	-moz-transition:background .3s ease-in-out;
	-ms-transition:background .3s ease-in-out;
	-o-transition:background .3s ease-in-out;
	transition:background .3s ease-in-out;
}


/* -------------------------------------------------------------------------------- Middle Content */

#middle_content {
	position:relative;
	padding:40px 0 40px;
	z-index:0;
}





/* -------------------------------------------------------------------------------- Bottom */

#bottom {
	position:relative;
	overflow:hidden;
}

.bottom_inner {
	width:940px;
	margin:0 auto;
	padding:34px 30px 0px;
	position:relative;
	overflow:hidden;
	background:#3a454b;
}



/* -------------------------------------------------------------------------------- Footer */

#footer {padding-bottom:30px;}

.footer_inner {
	background-color:#3a454b;
	line-height:20px;
	width:940px;
	padding:20px 30px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}

.footer_inner:before {
	position:absolute;
	top:0px;
	width:940px;
	height:5px;
	border-top:1px solid rgba(72, 82, 88, 1);
	border-bottom:1px solid rgba(72, 82, 88, 1);
	content:'';
}

#footer p {padding:0;}

#footer .footer_nav {
	overflow:hidden;
	margin:0;
}

#footer .footer_nav ul {display:none;}

#footer .footer_nav > li {
	display:block;
	float:left;
	padding-left:20px;
}

#footer .footer_inner > span {
	display:inline-block;
	margin-top:3px;
}

#footer .social_list {
	overflow:hidden;
	margin:5px 0 0;
	list-style:none;
}

#footer .social_list li {
	display:inline-block;
	margin:0 4px 0 5px;
}



/* -------------------------------------------------------------------------------- Shortcodes */

.alignleft {
	float:left;
	margin:0 20px 15px 0;
}

.alignright {
	float:right;
	margin:0 0 15px 20px;
}

.tour_box_inner .alignleft {
	float:left;
	margin:10px 20px 15px 0;
}

.tour_box_inner .alignright {
	float:right;
	margin:10px 0 15px 20px;
}

.aligncenter {
	margin:0 auto;
	text-align:center; 
}

.nopadding {padding:0;}

.divider {
	clear:both;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:34px 0 32px;
	width:100%;
	height:1px;
	background:rgba(0, 0, 0, .08);
}

.fullwidth_divider {
	clear:both;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:34px -30px 32px;
	width:120%;
	height:1px;
	background:rgba(0, 0, 0, .08);
}

.entry .one_half .divider, 
.entry .one_third .divider, 
.entry .two_third .divider, 
.entry .one_fourth .divider, 
.entry .three_fourth .divider {margin:15px 0;}

.vertical_divider {
    display:block;
    margin:5px 6px 0;
    width:1px;
    height:10px;
	background-color:#bebebe;
}

.tooltip {
	z-index:999;
	display:none;
	margin:0;
	padding:3px 10px;
	border:1px solid rgba(255, 255, 255, .3);
	background-color:rgba(0, 0, 0, .7);
	color:#fefefe;
	font-size:12px;
}

.divider a {
	margin-top:-18px;
	text-decoration:none;
	text-transform:uppercase;
	font-size:10px;
}

.post_type_shortcode {position:relative;}

.post_type_shortcode .cms_title {margin-bottom:30px;}

.post_type_shortcode a.cmsms_content_prev_slide,
.post_type_shortcode a.cmsms_content_next_slide {
	top:10px;
	right:0px;
	left:auto;
}

.post_type_shortcode a.cmsms_content_prev_slide {
	right:21px;
	border-width:0 1px 0 10px;
	border-style:solid;
	border-color:#ffffff;
}

.wp-caption {
	display:block;
	padding:6px;
	border:1px solid #e7e7e7;
}

.wp-caption-text {
	margin:0;
	padding:6px 0 0;
	text-align:center;
}

.wp-caption+p {padding-top:5px;}

#middle .wp-caption img {box-shadow:none;}

video {background-color:#000000;}


.caption img {display:block;}

.caption figcaption {
	background-color:#ffffff;
	text-align:center;
}

.table {
	margin-bottom:18px;
	width:99%;
	border-spacing: 0;
	margin-left:1px;
}

.table td, 
.table tr th {
	border-bottom:1px solid #ebecec;
	padding:15px 0 15px 20px;
}

.table td:first-child, 
.table tr th:first-child {border-left:1px solid #ebecec;}

.table td:last-child, 
.table tr th:last-child {border-right:1px solid #ebecec;}

.table tbody tr:nth-child(even) {background-color:#fdfdfd;}

.table thead th {color:#ffffff;}

.table th {
	text-align:left;
	padding:11px 0 11px 20px;
}

span.dropcap {
	position:relative;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    margin-right:10px;
	width:55px;
	height:52px;
	padding:2px 0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	color:#fffefe;
	text-align:center;
	text-shadow:0 1px 1px rgba(0, 0, 0, .25);
	font-weight:bold;
}

span.dropcap2 {
	float:left;
    margin-top:4px;
    padding:0 15px;
}

.bold {
	font-weight:bold;
}

.center {
	text-align: center;
	margin:0px;
}

.italic {
	font-style: italic;
}

q, 
blockquote {
	position:relative;
	margin:0;
	padding:0 0 18px 35px;
	vertical-align:baseline;
}

q p, 
blockquote p {
	margin:0;
	padding:0;
}

q:before, 
blockquote:before {
	position:absolute;
	top:0;
	left:0;
	display:block;
    padding:0;
	content:'\201C';
	font-size:28px;
	line-height:1em;
}

.cmsms_shortcode_testimonials blockquote:before {
	top:25px;
	left:10px;
	font-size:32px;
}

q:after, 
blockquote:after {clear:both;}

code {
	position:relative;
	display:block;
	padding:15px 20px;
	border-top:2px solid #f5a615;
	background:rgba(255, 255, 255, .1);
}

code:after {clear:both;}

.cmsms_plus {
    position:absolute;
    top:50%;
    left:0;
    display:block;
    margin-top:-14px;
}

.cmsms_plus_inner {
	position:relative;
    display:block;
    width:25px;
    height:25px;
    -webkit-transition:background-color .3s ease-out 0s;
	-moz-transition:background-color .3s ease-out 0s;
	-ms-transition:background-color .3s ease-out 0s;
	-o-transition:background-color .3s ease-out 0s;
	transition:background-color .3s ease-out 0s;
}

.cmsms_plus .vert_line, 
.cmsms_plus .horiz_line {
	background-color:#ffffff;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, .25);
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, .25);
	box-shadow:0 1px 1px rgba(0, 0, 0, .25);
}

.cmsms_plus .vert_line {
    position:absolute;
    top:7px;
    left:11px;
    z-index:2;
    display:block;
    width:2px;
    height:10px;
}

.cmsms_plus .horiz_line {
    position:absolute;
    top:11px;
    left:7px;
    display:block;
    width:10px;
    height:2px;
}

.togg, 
.acc {
    position:relative;
    overflow:hidden;
	margin:2px 0 3px;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.tog {
    position:relative;
    display:block;
    margin:0;
    padding:18px 0 21px 40px;
}

.tog.current .cmsms_plus .vert_line {display:none;}

.togg .tab_content {padding:8px 20px 23px 0px;}

.accordion {
	margin-bottom:18px;
	padding-top:15px;
	position:relative;
	overflow:hidden;
}

.acc .tog {padding:18px 0 21px 40px;}

.accordion .tab_content {
	padding:20px 0 0 0px;
	position:relative;
	overflow:hidden;
}



.tour_content {
	display:table;
	margin-bottom:18px;
	position:relative;
	overflow:hidden;
}

.tour {
	display:block;
	float:left;
	margin-right:3%;
	margin-bottom:0;
	width:23%;
}

.content_wrap .tour, 
.three_fourth .tour {
	margin-right:2%;
	width:31.5%;
}

.two_third .tour {
	margin-right:2%;
	width:35%;}

.content_wrap  .tour_box, 
.three_fourth .tour_box {width:64%;}

.two_third .tour_box {width:60%;}
 
.tour li {
    position:relative;
	z-index:3;
	margin-bottom:1px;
    list-style:none;
}

.tour li a {
    position:relative;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    padding:12px 22px 13px;
    text-decoration:none;
	font-style:normal;
	-webkit-transition:color .3s ease-in-out, background .3s ease-in-out;
	-moz-transition:color .3s ease-in-out, background .3s ease-in-out;
	-ms-transition:color .3s ease-in-out, background .3s ease-in-out;
	-o-transition:color .3s ease-in-out, background .3s ease-in-out;
	transition:color .3s ease-in-out, background .3s ease-in-out;
}

.tour li a:before {
	position:absolute;
	bottom:0;
	left:0;
	z-index:-1;
	width:100%;
	height:1px;
	content:"";
	background-color:rgba(0, 0, 0, .1);
}

.tour_box {
	position:relative;
	display:none;
	float:right;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	width:73.7%;
	border-top:1px solid rgba(0, 0, 0, .1);
}

.tour_box_inner {
	overflow:hidden;
	padding-top:20px;
	padding-bottom:30px;
}

.tour_box_inner img {
   max-width:100%; }

.slider_shortcode {position:relative;}


.wrap_fb_text,
.wrap_fb_but {display:table-cell;}

.wrap_fb_but {
	padding-left:30px;
	width:18%;
	vertical-align:middle;
	text-align:right;
}

.featured_block .fb_link {
	display:block;
	min-width:200px;
}

.featured_block h3 {margin-bottom:5px;}

.featured_block p {padding:0;}

.cmsms_shortcode_testimonials .entry-content > .alignleft {margin-bottom:0;}

.cmsms_shortcode_testimonials .entry-content > .cmsms_tags {margin-top:-10px;}

.cmsms_shortcode_testimonials .alignleft + p {padding-top:15px;}

.cmsms_shortcode_testimonials blockquote {
	margin-bottom:30px;
	padding:29px 10px 34px 44px;
	background-color:#fbfbfb;
}

.cmsms_shortcode_testimonials blockquote:after {
    position:absolute;
    bottom:-13px;
    left:40px;
    border-right:11px solid transparent;
    border-bottom:13px solid transparent;
    border-left:11px solid #fbfbfb;
    content:"";
}

.colored_shortcode {
    position:relative;
    display:table;
    overflow:hidden;
    margin-bottom:18px;
    width:100%;
}

.colored_title {display:table-cell;}

.colored_title_inner {
    position:relative;
    z-index:0;
    display:block;
    overflow:hidden;
    padding:23px 40px 10px;
	background-color:#33bee5;
}

.colored_button {
    display:table-cell;
    padding:0 40px;
    min-width:200px;
    background-color:#3D4244;
    color:#FFFFFF;
    vertical-align:middle;
}





/* -------------------------------------------------------------------------------- Buttons */

.comment-reply-link,
.button,
.button_medium,
.button_large {
	position:relative;
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:8px 20px 9px;
	min-width:87px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	-webkit-box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.3);
	box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.3);
	-ms-box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.3);
	-o-box-shadow:0 3px 3px -3px rgba(0, 0, 0, 0.3);
}

.button_medium {
	padding:13px 20px 14px;
	min-width:113px;
	font-size:16px;
}

.button_large {
	padding:18px 25px;
	min-width:152px;
	font-size:22px;
	line-height:24px;
}

.button.current,
.button_medium.current,
.button_large.current {z-index:2;}

.button:hover, 
.button_medium:hover, 
.button_large:hover, 
.button.current, 
.button_medium.current, 
.button_large.current {
	-webkit-box-shadow:-1px 0px 2px rgba(0, 0, 0, 0);
	-moz-box-shadow:-1px 0px 2px rgba(0, 0, 0, 0);
	box-shadow:-1px 0px 2px rgba(0, 0, 0, 0);
	-ms-box-shadow:-1px 0px 2px rgba(0, 0, 0, 0);
	-o-box-shadow:-1px 0px 2px rgba(0, 0, 0, 0);
}

.box {margin:0 0 20px;}

.box table {width:100%;}

.box table td p {
	margin:0;
	padding:0 20px 0 0;
}

.box table td {
	padding:23px 0 24px;
	text-align:left;
}

.box table td:first-child {width:80px;}




/* -------------------------------------------------------------------------------- Widgets */

.widget {
	padding-bottom:20px;
	position:relative;
	overflow:hidden;
}

.one_first .widget {padding-bottom:10px;}

#sidebar .one_first,
#sidebar .widget {
	margin-bottom:2px;
	padding-bottom:30px;
}

#sidebar .widget:before,
.widget_archive li:before,
.widget_categories li:before,
.widget_nav_menu li:before,
.widget_meta li:before,
.widget_pages li:before,
.widget_recent_entries li:before,
.arrow_dash_r li:before,
.tab.lpr .tabs_tab ul > li:before {
	position:absolute;
	bottom:0;
	left:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:1px;
	background:rgba(0, 0, 0, .08);
	content:'';
}

.bottom_inner #sidebar .widget:before,
.bottom_inner .widget_archive li:before,
.bottom_inner .widget_categories li:before,
.bottom_inner .widget_nav_menu li:before,
.bottom_inner .widget_meta li:before,
.bottom_inner .widget_pages li:before,
.bottom_inner .widget_recent_entries li:before,
.bottom_inner .arrow_dash_r li:before,
.bottom_inner .tab.lpr .tabs_tab ul > li:before {
	position:absolute;
	bottom:0;
	left:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	height:1px;
	background:#485258;
	content:'';
}

.sitemap_category:before,
.sitemap > li:before {
	position:absolute;
	bottom:0;
	left:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 -30px;
	width:120%;
	height:1px;
	background:rgba(0, 0, 0, .08);
	content:'';
}

.widget_archive li {}

#sidebar > div:last-child .widget:before {
	display:none;
	content:none;
}

.shortcode_slideshow_container {position:relative;}

.widget .widgettitle {
	margin:0;
	padding-bottom:35px;
}

#sidebar .widget .widgettitle {
	margin-left:1px;
	padding-bottom:27px;
}

.widget ul {
	overflow:hidden;
	margin-bottom:0;
	list-style:none;
}

.widget ul li.add {
	float:none;
	padding:0% 0% 1% 0%;
}

.widget abbr {padding:5px 0;}

.widget cite {padding-left:5px;}

.widget_rss .widgettitle .rsswidget {
	float:left;
    margin:5px 15px 0 0;
}

.rss-date {
	display:block;
	padding-left:10px;
	text-indent:0;
}

.widget_calendar caption {
	padding:10px 0;
    text-align:center;
}

.widget_calendar table {
	width:100%;
	text-align:center;
}

.widget_calendar table thead th {padding:6px 0;}

.widget_calendar table tbody td {
	width:39px;
	height:39px;
}

.widget_calendar table tbody td a {
	display:block;
	padding:10px 0;
}

.widget_calendar tfoot td {padding-top:18px;}

.widget_custom_text_icon > table {margin-bottom:10px;}

.widget_custom_text_icon .widgettitle,
.widget_custom_text_icon .widgetsubtitle {
	margin:0;
	padding:0 0 5px 10px;
}

.widget_custom_text_icon .with_image {width:20%;}

.widget_meta abbr {display:inline;}

.widget_text figure {margin-bottom:20px;}



.widget_links ul {margin-top:-5px;}



.widget_links li:first-child,
.widget_archive li:first-child,
.widget_categories li:first-child,
.widget_nav_menu li:first-child,
.widget_meta li:first-child,
.widget_pages li:first-child,
.widget_recent_entries li:first-child,
.arrow_dash_r li:first-child {padding-top:0;}

.widget_links li:before,
.widget_archive li:before,
.widget_categories li:before,
.widget_nav_menu li:before,
.widget_meta li:before,
.widget_pages li:before,
.widget_recent_entries li:before,
.arrow_dash_r li:before {top:0;}

.widget_links li:first-child:before,
.widget_archive li:first-child:before,
.widget_categories li:first-child:before,
.widget_nav_menu li:first-child:before,
.widget_meta li:first-child:before,
.widget_pages li:first-child:before,
.widget_recent_entries li:first-child:before,
.arrow_dash_r li:first-child:before {
	display:none;
	content:none;
}

.widget li:last-child {padding-bottom:0;}

.widget_custom_advertising_entries {}

.widget_custom_advertising_entries ul li,
.adv_widget_image {
    float:left;
    padding:0 4% 4% 0;
	background:none;
    list-style:none;	
}

.widget_custom_advertising_entries ul li:nth-child(2n), 
.adv_widget_image:nth-child(2n) {padding-right:0;}

.widget_custom_advertising_entries img {border:1px solid rgba(193, 193, 193, .5);}

.widget_custom_flickr_entries .flickr_badge_image a {display:block;}

.widget_custom_flickr_entries ul {padding-bottom:8px;}


.widget_custom_recent_entries ul > li {overflow:hidden;}




/* Google Maps */

#map_canvas { 
    width:100%;
	height:350px;
}

.widget_custom_contact_form_entries .cmsms-form-builder .form_info {padding-bottom:15px;}

.widgetinfo {
	display:none;
	margin:0 0 15px;
	padding:5px 10px;
	border:1px solid #ececec;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color:#ffffff;
	color:#90cd67;
	text-align:center;
	-o-border-radius:4px;
	-ms-border-radius:4px;
}

.loading {
	position:relative;
	float:right;
	margin-top:10px;
	margin-right:4%;
	width:40px;
	height:5px;
	background:url(<%= asset_path 'loader.gif' %>) no-repeat 50% 50%;
	opacity:0;
	filter:alpha(opacity=0);
}


/* -------------------------------------------------------------------------------- Form builder */

.cmsms-form-builder {padding-left:2px;}

.cmsms-form-builder label {padding-bottom:10px;}

.cmsms-form-builder .form_info {padding:3px 0 13px;}

.cmsms-form-builder span.db { 
	display:block;
	margin:5px 0 10px;
}

input[type="text"],
textarea,
select {
	overflow:hidden;
	margin:0 0 3px;
	padding:5px;
	width:40%;
	height:36px;
	border:1px solid #ccc;
	
	/*background-color:#f7f7f8;*/
	line-height:28px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

#contactform .control-group {
	margin-bottom:12px;
}

#contactform .control-label {
	font-family: "Oxygen",Arial,Geneva,Helvetica,sans-serif;
	font-size:13px;
}

#contactform input[type="text"] {width:81%;}
	
#contactform .cmsms-form-builder textarea {width:95%;}

.bottom_inner .cmsms-form-builder input[type="text"],
.bottom_inner .cmsms-form-builder textarea,
.bottom_inner .cmsms-form-builder select {
	overflow:hidden;
	margin:0 0 3px;
	padding:5px;
	width:60%;
	height:36px;
	border:1px solid rgba(255, 255, 255, .0);
	background-color:#495459;
	background-color:rgba(255, 255, 255, .08);
	line-height:28px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}


/*.bottom_inner .cmsms-form-builder  input[type="text"]:focus,
.bottom_inner .cmsms-form-builder  textarea:focus,
.bottom_inner .cmsms-form-builder  select:focus {
	background-color:#313b40;
	background-color:rgba(0, 0, 0, .15);
}*/

.search_line input[type="text"]:focus {padding-right:35px;}

option {padding:5px;}

.widget select {padding-top:8px;}

.widget input[type="text"],
textarea {width:98%;}

.bottom_inner .cmsms-form-builder input[type="text"],
.bottom_inner .cmsms-form-builder textarea {width:100%;}

.cmsms-form-builder select {
	width:50%;
	height:32px;
}

.cmsms-form-builder option {
    margin:0;
    padding:5px;
    height:32px;
}

.cmsms-form-builder textarea {
	min-height:200px;
	resize:none;
	overflow:auto;
}

.bottom_inner .cmsms-form-builder textarea {
	min-height:100px;
	resize:vertical;}

.cmsms-form-builder .check_parent {
	padding:6px 0;
	position:relative;
	overflow:hidden;
}

.cmsms-form-builder .check_parent label {padding:0;}

.cmsms-form-builder .cmsms_checkbox .db, 
.cmsms-form-builder .cmsms_radio .db, 
.cmsms-form-builder .cmsms_checkboxes .db {
	display:block;
	padding-bottom:15px;
}

#formSubmit {
	margin-top:10px;
}







/* ---------- Large Monitor (Note: Design for a width more than 1440px) ---------- */

@media only screen and (min-width: 1440px) {
	
	#top,
	#header,
	.header_inner, 
	.cont_nav,
	.headline,
	.middle_inner,
	.bottom_inner, 
	#top_sidebar, 
	.middle_sidebar, 
	.footer_inner, 
	.footer_inner:before {width:1160px;}
	
	#header nav.fixed_nav {width:1160px;}
	
	.responsiveSlider {font-size:100%;}
	
	.social_block ul {display:block;}
	
}



/* ---------- Small Monitor (Note: Design for a width more than 767px but less than 1439px) ---------- */

@media only screen and (min-width: 768px) and (max-width: 1439px) {
	
	.portfolio_container.two_blocks, 
	.portfolio_container.four_blocks {margin-right:-4%;}
	
	.social_block ul {display:block;}

	.cmsms-form-builder {
		margin-top:15px;
	}
	
}



/* ---------- Tablet Portrait (Note: Design for a width more than 950px but less than 1439px) ---------- */

@media only screen and (min-width: 950px) and (max-width: 1439px) {
	
	.related_posts .one_half {width: 49%;}

	.project_rollover .entry-header h6 {margin:0 20px 0 0;}
	
	.project_rollover .cmsms_post_img {top:11px;}
	
	
	
}



/* ---------- Tablet Portrait (Note: Design for a width more than 950px but less than 1024px) ---------- */

@media only screen and (min-width: 950px) and (max-width: 1024px) {
	
	.related_posts .one_half {width: 49%;}
	

	
}



/* ---------- Tablet Portrait (Note: Design for a width more than 769px but less than 1024px) ---------- */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	
	.pricingtable .cmsms_price {padding:12px 43px 12px 10px;}
	
	.one_third .pricingtable .cmsms_price {padding:12px 43px 12px 10px;}
	
}



/* ---------- Tablet Portrait (Note: Design for a width more than 801px but less than 950px) ---------- */

@media only screen and (min-width: 801px) and (max-width: 950px) {
	
	.portfolio_inner .project_rollover {padding-top:5px;}
	
	.project_rollover .cmsms_post_img {
		top:7px;
		right:8px;
	}
	
	.project_rollover .entry-header h6, 
	.project_rollover .entry-header ul {margin:0 20px 0 0;}
	
	
	
}



/* ---------- Tablet Portrait (Note: Design for a width more than 769px but less than 800px) ---------- */

@media only screen and (min-width: 769px) and (max-width: 800px) {

	.project_rollover .cmsms_post_img {
		top:5px;
		right:5px;
	}
	
	.project_rollover .entry-header h6, 
	.project_rollover .entry-header ul {margin:0 15px 0 0;}
	
	
}



/* ---------- Tablet Portrait (Note: Design for a width more than 768px but less than 1024px) ---------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
	#navigation > li > a > span {width:114px;}
	
	.responsiveSlider {font-size:65%;}
	
	input[type="text"], 
	textarea {width:93%;}
	
	#bottom .cmsms-form-builder input[type="text"],
	#bottom .cmsms-form-builder textarea {width:87%;}
	
	.logo {left:0;}
	
	.entry .one_half .ovh, 
	.entry .one_third .ovh, 
	.entry .two_third .ovh, 
	.entry .one_fourth .ovh, 
	.entry .three_fourth .ovh {clear:both;}
	
	.commentlist .published {
		float:left;
		margin-left:0;
	}
	
	.cmsms-form-builder select {width:70%;}
	
	#sidebar {
		margin-left:0;
		width:32%;
	}
	
	#content {width:64%;}
	
	.content_wrap:before {left:66%;}
	
	.content_wrap.sidebar_left #content {padding-left:4%;}
	
	.content_wrap.sidebar_left:before {left:33.4%;}
	
	.bottom_inner {padding-bottom:0;}
	
	.bottom_inner .one_fourth {padding-bottom:16px;}
	
	.social_block ul {display:block;}
	
	.colored_button {padding:0 10px 0 20px;}

}



/* ---------- Small Tablet (Note: Design for a width more than 542px but less than 768px) ---------- */

@media only screen and (min-width: 541px) and (max-width: 768px) {
	
	.one_fourth, 
	.one_fourth+.one_fourth+.one_fourth, 
	.portfolio_container.four_blocks .portfolio:nth-child(odd), 
	.format-album.four_blocks .cmsms_media .cmsms_media_box:nth-child(odd), 
	.cms_archive li:nth-child(2n+1), 
	.sitemap > li > ul > li:nth-child(2n+1),
	.project.four_blocks .cmsms_media .cmsms_media_box:nth-child(odd) {
		float:left;
		padding-right:4%;
		padding-left:0;
		width:46%;
	}
	
	.cms_archive li:nth-child(2n+1), 
	.sitemap > li > ul > li:nth-child(2n+1) {padding-right:5%;}
	
	.one_fourth.last, 
	.one_fourth+.one_fourth, 
	.one_fourth+.one_fourth+.one_fourth+.one_fourth,
	.portfolio_container.four_blocks .portfolio:nth-child(even), 
	.format-album.four_blocks .cmsms_media .cmsms_media_box:nth-child(even), 
	.cms_archive li:nth-child(2n), 
	.sitemap > li > ul > li:nth-child(2n), 
	.project.four_blocks .cmsms_media .cmsms_media_box:nth-child(even) {
		float:right;
		padding-right:0;
		padding-left:0;
		width:46%;
	}
	
	.post_type_shortcode.four_blocks article:nth-child(odd){
		float:left;
		padding-right:4%;
		padding-left:0;
		width:48%;
	}

	.post_type_shortcode.four_blocks article:nth-child(even) {
		float:right;
		padding-right:0;
		padding-left:0;
		width:48%;
	}
	
	.three_blocks.portfolio_container .portfolio:nth-child(odd) {
		float:left;
		padding-right:2%;
		padding-left:0;
		width:48%;
	}
	
	.three_blocks.portfolio_container .portfolio:nth-child(even){
		float:right;
		padding-right:0;
		padding-left:2%;
		width:48%;
	}
	
	.one_third.cmsms_our_team_wrap {
		float:left;
		padding-bottom:18px;
		padding-right:4%;
		width:30.6%;
	}
	
	.portfolio_inner .project_rollover, 
	.portfolio_container.three_blocks .portfolio_inner .project_rollover {padding-top:17px;}
	
	.project_rollover .entry-header h6, 
	.portfolio_container.three_blocks .portfolio_inner .project_rollover .entry-header h6  {margin:0 25px 0 0;}
	
	.portfolio_container.four_blocks .portfolio:nth-child(even), 
	.post_type_shortcode.four_blocks article {padding-right:4%;}
	
	.post_type_shortcode.four_blocks, 
	.post_type_shortcode.four_blocks {margin-right:0;}
	
	.one_fourth+.one_fourth+.one_fourth {clear:both;}
	
	.one_fourth+.one_fourth+.one_fourth+.one_fourth {clear:none;}
	
	
	
}



/* ---------- Small Tablet (Note: Design for a width more than 650px but less than 700px) ---------- */

@media only screen and (min-width: 650px) and (max-width: 700px) {

	
}



/* ---------- Small Tablet (Note: Design for a width more than 541px but less than 600px) ---------- */

@media only screen and (min-width: 541px) and (max-width: 650px) {

	
}
	
	

/* ---------- Small Tablet (Note: Design for a width more than 541px but less than 600px) ---------- */

@media only screen and (min-width: 541px) and (max-width: 600px) {
	
	

}


/* ---------- Mobile (Note: Design for a width more than 400 less than 540px) ---------- */

@media only screen and (min-width: 400px) and (max-width: 540px) {
	
	.responsiveSlider {font-size:30%;}
	
	.responsiveSlider p {display:none;}
	
	#bottom .cmsms-form-builder input[type="text"],
	#bottom .cmsms-form-builder textarea {width:93%;}
	
	#page, 
	#footer {min-width:240px;}
	
	#header nav {
		position:relative;
		top:auto;
		right:auto;
		margin:20px 0;
		background:none;
		text-align:left;
	}
	
	#navigation > li {float: none;}
	
	#navigation > li > a > span {
		padding:11px 0 11px 30px;
		height:18px;
		line-height:18px;
	}
	
	.portfolio_inner .project_rollover .entry-header {margin:5px 15px 25px 0;}
	
	
	.commentlist ul {padding-left:15px;}
	
	.portfolio_container.four_blocks, 
	.post_type_shortcode.four_blocks {margin-right:0;}
	
}



/* ---------- Mobile (Note: Design for a width more than 450 less than 540px) ---------- */

@media only screen and (min-width: 450px) and (max-width: 540px) {
	
	
	
}

	

/* ---------- Small Monitor (Note: Design for a width less than 1152px) ---------- */

@media only screen and (max-width: 1151px) {

	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6 {word-wrap:break-word;}
	
	#top, 
	#header,
	.middle_inner, 
	.headline,
	.cont_nav,
	.bottom_inner,
	#top_sidebar, 
	.middle_sidebar, 
	.footer_inner {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin-right:5%;
		margin-left:5%;
		width:90%;
	}
	
	#header nav.fixed_nav {
		width:84.4%;
		left:7.7%;
	}
	
	.footer_inner:before {width:100%;}
	
}


/* ---------- Small Monitor (Note: Design for a width less than 1024px) ---------- */

@media only screen and (max-width: 1024px) {

	#header,
	.header_inner {
		position:relative;
		overflow:hidden;
		padding:0;
		min-height:1px;
	}
	
	.social_block {
		position:relative;
		top:0;
		right:0;
		z-index:300;
		width:100%;
	}

	.social_block ul {
		display:none;
		overflow:hidden;
		margin:20px auto 0;
		padding:0 20px 5px;
		width:auto;
		text-align:center;
	}

	.social_toggle {
		position:absolute;
		bottom:-20px;
		left:50%;
		z-index:2;
		display:block;
		margin-left:-20px;
		width:40px;
		height:15px;
	}
	
	.resp_navigation {
		position:relative;
		display:block;
		float:right;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin:45px 30px 10px 0;
		width:48px;
		height:38px;
		-webkit-transition:background-color .3s ease-in-out;
		-moz-transition:background-color .3s ease-in-out;
		-ms-transition:background-color .3s ease-in-out;
		-o-transition:background-color .3s ease-in-out;
		transition:background-color .3s ease-in-out;
	}
	
	.resp_navigation span {
		display:block;
		width:45x;
		height:38px;
		background:url(<%= asset_path 'resp_nav_but_bg.png' %>) 50% 12px no-repeat;
	}
	
	.resp_navigation span:before {
		position:absolute;
		bottom:0;
		left:9%;
		z-index:0;
		width:82%;
		height:1px;
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);
		content:"";
	}
	
	.resp_navigation:hover,
	.resp_navigation.active {background-color:rgba(0, 0, 0, .1);}
	
	.resp_navigation:hover span:before, 
	.resp_navigation.active span:before {box-shadow: none;}
	
	.logo {
		position:relative;
		float:left;
		margin-left:30px;
	}
	
	#header nav.fixed_nav {
		position:relative;
		top:0;
	}
	
	#header nav {
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
	
	#navigation {
		position:relative;
		display:none;
		overflow:hidden;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin:0 0 20px 0;
		width:100%;
		height:auto;
	}
	
	#navigation li:before, 
	#navigation li ul li:before	{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:1px;
		background-color:#ebebeb;
		background-color:rgba(0, 0, 0, .08);
		content:"";
	}
	
	#header nav:before {
		display:none;
		content:none;
	}

	#navigation > li:hover {top:auto;}

	#navigation a {display:block;}

	#navigation > li > a {padding:0 0 0 30px;}
	
	#header nav {
		position:relative;
		top:auto;
		right:auto;
		margin:30px 0 20px;
		background:none;
		text-align:left;
	}
	
	#navigation > li {float: none;}
	
	#navigation > li > a > span {
		padding:11px 0 11px 0;
		width:100%;
		height:18px;
		text-align:left;
		line-height:18px;
	}
	
	#navigation li.drop > a > span:before {
		position:absolute;
		top:17px;
		right:29px;
		width:7px;
		height:9px;
		background:url(/assets/resp_nav_arrow.png) no-repeat right top;
		content:'';
		-webkit-transition:background-position .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
		-moz-transition:background-position .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
		-ms-transition:background-position .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
		-o-transition:background-position .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
		transition:background-position .3s ease-in-out, left .3s ease-in-out, top .3s ease-in-out;
	}
	
	#navigation > li.drop > a:hover span:before, 
	#navigation li.current_page_item > a span:before, 
	#navigation > li.drop:hover > a span:before {background-position:left top;}

	#navigation li.drop li a:hover span:before, 
	#navigation ul > li.current_page_item.drop span:before	{background:url(/assets/resp_nav_arrow.png) no-repeat right top;}
	
	#navigation ul {
		position:relative;
		top:auto;
		left:auto;
		display:none;
		visibility:visible;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin:0;
		padding:0;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		background:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		opacity:1;
		filter:alpha(opacity=100);
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
	}

	#navigation ul ul {
		top:auto;
		left:auto;
		margin:0;
		background:none;
	}

	#navigation ul li:hover > ul {margin:0;}

	#navigation ul ul:before {
		display:none;
		content:none;
	}
	
	#navigation ul li:before {
		position:absolute;
		top:0;
		left:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		height:1px;
		background:rgba(0, 0, 0, .08);
		content:'';
	}
	
	#navigation ul li {background:#ffffff;}
	
	#navigation ul li a {
		padding:0 10px 0 30px;
		min-width:auto;
		min-height:40px;
		-webkit-transition:background-color .3s ease-in;
		-moz-transition:background-color .3s ease-in;
		-ms-transition:background-color .3s ease-in;
		-o-transition:background-color .3s ease-in;
		transition:background-color .3s ease-in;
	}
	
	#navigation li.drop ul li{background-color:#ffffff;}
	
	#navigation li.drop ul li:hover, 
	#navigation li ul li.current_page_item , 
	#navigation ul li.current_page_item > a {background-color:#fdfdfd;}
	
	#navigation ul ul li a {padding-left:60px;}
	
	#navigation ul ul ul li a {padding-left:90px;}
	
	#navigation ul li.current_page_ancestor > a,
	#navigation ul li.current-menu-ancestor > a {
		background-color:rgba(255, 255, 255, 1);
		-webkit-transition:background-color 0.01s;
		-moz-transition:background-color 0.01s;
		-ms-transition:background-color 0.01s;
		-o-transition:background-color 0.01s;
		transition:background-color 0.01s;
	}
	
	#navigation ul li a span {
		display:block;
		padding:12px 45px 10px 30px;
		white-space:normal;
	}
	
	#middle_content .share_posts, 
	#middle_content .related_posts, 
	#middle_content #comments, 
	#middle_content #commentform, 
	#middle_content .about_author {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
	}
	
	.one_half, 
	.one_half.last, 
	.one_third, 
	.one_third.last, 
	.two_third, 
	.two_third.last, 
	.one_fourth, 
	.one_fourth.last, 
	.three_fourth, 
	.three_fourth.last {padding-bottom:5px;}
	
	.opened-article .portfolio_container.four_blocks .portfolio {width:45%;}
	
	.logo {
		position:relative;
		float:left;
		margin-left:30px;
	}
	
	#comments .comment-body .published {
		float:none;
		padding:10px 10px 0 0;
		margin:0;
	}
	
	.cmsms_slidershadow:before, 
	.cmsms_slidershadow:after {box-shadow:0 1px 7px 3px rgba(0, 0, 0, 0.4);}

	.cmsms-form-builder {
		margin-top:15px;
	}

}




/* ---------- Tablet (Note: Design for a width less than 1023px) ---------- */

@media only screen and (max-width: 1023px) {

	.captionHolder {
		float:left;
		padding-left:30px;
	}
	

	.cmsms_info {
		float:none;
		overflow:hidden;
		padding-bottom:10px;
		width:100%;
	}
	
	.cmsms_info .published {
		float:left;
		margin:0 0 3px 1px;
		width:99px;
		height:48px;
	}
	
	.cmsms_post_img {margin:0 3px 0 2px;}
	
}


/* ---------- Tablet (Note: Design for a width less than 951px) ---------- */

@media only screen and (max-width: 950px) {

	.cmsms_slider_parent {
		padding:20px 20px 15px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
		border-radius:20px;
	}
	
	.cmsms_slider_parent a.cmsms_prev_slide {left:-50px;}
	.cmsms_slider_parent a.cmsms_next_slide {right:-50px;}
	
	.cmsms_slider_parent a.cmsms_prev_slide:before, 
	.cmsms_slider_parent a.cmsms_next_slide:before {
		top:-115%;
		height:230%;
	}
	
	.cmsms_slider_parent ul.cmsms_slides_nav {margin-top:-5px;}
	
	.cmsms_slider_parent ul.cmsms_slides_nav li a {
		width:9px;
		height:9px;
	}
	
	.skill_item > span {width:30%;}
	
	.skill_item_colored_main_wrap {width:64%;}
	
	.shortcode_skill:before {left:32%;}
	
	.tabs li a {
		min-width:85px;
		padding:8px 10px;
	}

	.ls-container:before, 
	.ls-container:after, 
	.rev_slider_wrapper:before, 
	.rev_slider_wrapper:after {
		bottom:6px;
		box-shadow:0 6px 8px 3px rgba(0, 0, 0, 0.25);
	}
	
	
	.project_content {
		float:none;
		width:100%;
	}
	
	.project_sidebar {
		float:none;
		width:100%;
	}
	
}


/* ---------- Small Tablet & Mobile (Note: Design for a width less than 795px) ---------- */

@media only screen and (max-width: 795px) {

	.content_wrap:before {
		display:none;
		content:none;
	}
	
	#content, 
	#sidebar {
		float:none;
		overflow:hidden;
		margin:0;
		padding:0;
		width:100%;
	}
	
	#content {padding-bottom:40px;}
	
	#sidebar {padding-top:40px;}
	
	#sidebar:before {
		position:absolute;
		top:0;
		left:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		height:1px;
		background:rgba(0, 0, 0, .1);
		content:'';
	}
	
	.portfolio_container .portfolio,
	.project .cmsms_media .cmsms_media_box, 
	.project.four_blocks .cmsms_media .cmsms_media_box, 
	.project.three_blocks .cmsms_media .cmsms_media_box, 
	.project.two_blocks .cmsms_media .cmsms_media_box, 
	.portfolio_container.four_blocks .portfolio, 
	.portfolio_container.three_blocks .portfolio, 
	.portfolio_container.two_blocks .portfolio, 
	.post_type_shortcode.four_blocks article,
	.portfolio_container.four_blocks .cmsms_media .cmsms_media_box, 
	.portfolio_container.three_blocks .cmsms_media .cmsms_media_box, 
	.portfolio_container.two_blocks .cmsms_media .cmsms_media_box {
		float:left;
		padding-right:2%;
		padding-left:2%;
		padding-bottom:30px;
	}

	
	
}
	

/* ---------- Small Tablet & Mobile (Note: Design for a width less than 768px) ---------- */

@media only screen and (max-width: 768px) {
	
	.related_posts_content .one_half, 
	.related_posts_content .one_half.last {
		padding:28px 0 0;
		width:100%;
	}
	
	.widget_custom_advertising_entries ul li:nth-child(2n), 
	.adv_widget_image:nth-child(2n) {padding-right:3%;}
	
	
	
	.one_half, 
	.one_half.last, 
	.one_third, 
	.one_third.last, 
	.two_third, 
	.two_third.last, 
	.three_fourth, 
	.three_fourth.last, 
	.three_fourth+.one_fourth, 
	.one_fourth+.one_half+.one_fourth, 
	.portfolio_container.three_blocks .portfolio, 
	.format-album.two_blocks .cmsms_media .cmsms_media_box, 
	.format-album.three_blocks .cmsms_media .cmsms_media_box,
	.project.four_blocks .cmsms_media .cmsms_media_box,
	.project.three_blocks .cmsms_media .cmsms_media_box,
	.project.two_blocks .cmsms_media .cmsms_media_box {
		float:none;
		padding-right:0;
		width:100%;
	}
	
	.widget_custom_flickr_entries li, 
	.adv_widget_image {padding:0 4% 4% 0;}
	
	.widget_custom_flickr_entries li:last-child {padding-right:0;}
	
	.tour_content {
		display:block;
		margin:0;
	}
	
	.tour_box, 
	.tour, 
	.content_wrap .tour, 
	.three_fourth .tour, 
	.two_third .tour, 
	.two_third .tour_box, 
	.content_wrap  .tour_box, 
	.three_fourth .tour_box {
		float:none;
		margin:0 0 20px;
		width:100%;
	}
	
	.tour_box {padding:20px 0px 10px;}
	
	
	.four_blocks.portfolio_container .portfolio,
	.post_type_shortcode.four_blocks article,
	.one_fourth, 
	.one_fourth.last,  
	.one_fourth+.one_fourth, 
	.one_fourth+.one_fourth+.one_fourth, 
	.one_fourth+.one_fourth+.one_fourth+.one_fourth  {
		float:none;
		padding-right:0;
		width:100%;
	}
	
	#slider .button_medium,
	#slider .button_large {display:none;}
	
	.cmsms_slider_parent {
		padding:30px 30px 25px;
		-webkit-border-radius:30px;
		-moz-border-radius:30px;
		border-radius:30px;
	}
	
	
	.cmsms_slider_parent a.cmsms_prev_slide {left:-70px;}
	
	.cmsms_slider_parent a.cmsms_next_slide {right:-70px;}
	
	.cmsms_slider_parent a.cmsms_prev_slide:before, 
	.cmsms_slider_parent a.cmsms_next_slide:before {
		top:-230%;
		height:460%;
	}
	
	.cmsms_slider_parent ul.cmsms_slides_nav {margin-top:2px;}
	
	.tab.lpr .tabs li {text-align:center;}
	
	#slide_top {right:1px;}
	
	.colored_shortcode {
		display:block;
		width:100%;
	}
	
	.colored_title {
		display:block;
		width:100%;
	}
	
	.colored_title_inner {padding:33px 40px 20px;}
	
	.colored_button {
    	display:block;
	    padding:30px 40px;
	}
	
	.footer_inner:before {
	    right:5%;
	    left:5%;
	    width:90%;
	}
	
	#footer .footer_inner > span {
		display:block;
		margin:3px auto 20px;
		text-align:center;
	}
	
	.footer_inner .fr {float:none;}
	
	#footer .footer_nav {text-align:center;}
	
	#footer .footer_nav > li {
		display:inline;
		float:none;
		padding-right:10px;
		padding-left:10px;
	}
	
	.ls-container:before, 
	.ls-container:after, 
	.rev_slider_wrapper:before, 
	.rev_slider_wrapper:after {
		bottom:6px;
		box-shadow:0 4px 4px 2px rgba(0, 0, 0, 0.25);
	}
	
	
	
	.comment-body .cmsms-edit {float:none;}
	
	.tp-bullets {bottom:8px !important;}
	
	.responsiveSlider .slideCaption.left, 
	.responsiveSlider .slideCaption.right {margin:0 9%;}
	
	.cmsms_slider_timer {display:none;}

	.footer_inner span {
		display:block;
		clear:both;
		margin:5px 0 20px;
	}
	
	#footer p {padding-bottom:20px;}
	
	.footer_inner {padding:30px 30px 30px;}
	
}



/* ---------- Mobile (Note: Design for a width less than 700px) ---------- */

@media only screen and (max-width: 700px) {

	
}	



/* ---------- Mobile (Note: Design for a width less than 600px) ---------- */

@media only screen and (max-width: 600px) {

	

}

	

/* ---------- Mobile (Note: Design for a width less than 540px) ---------- */

@media only screen and (max-width: 540px) {

	a img {
		margin:0 auto;
	}

	.resp_navigation {
		position:relative;
		display:block;
		float:none;
		margin:15px auto 10px;
		width:48px;
		height:38px;
	}

	.captionHolder {
		float:none;
	}
	
	.logo {
		float:none;
		margin:5px auto 20px;
	}
	
	.responsiveSlider {width:99.5%;}
	
	
	.one_fourth, 
	.one_fourth.last,  
	.one_fourth+.one_fourth, 
	.one_fourth+.one_fourth+.one_fourth, 
	.one_fourth+.one_fourth+.one_fourth+.one_fourth, 
	 {
		float:none;
		padding-right:0;
		padding-left:0;
		width:100%;
	}
	
	
	.tab.lpr .tab_content {margin:0;}
	
	input[type="text"], 
	textarea, 
	#commentform input[type="text"], 
	#commentform textarea{width:90%;}
	
	#bottom .cmsms-form-builder input[type="text"],
	#bottom .cmsms-form-builder textarea {width:94%;}
	
	.post_type_shortcode.four_blocks, 
	.post_type_shortcode.two_blocks 
		{margin-right:0;}
	
	.comment-body .ovh {overflow:visible;}
	
	#comments .comment-body .published,
	#comments .comment-body .comment-reply-link,
	#comments .comment-body h3 {
		display:block;
		float:none;
		clear:both;
		padding-left:0;
	}
	
	#comments .comment-body .comment-reply-link {display:inline-block;}
	
	.commentlist ul {padding-left:10px;}
	
	.pj_sort {height:135px;}
	
	.p_options_loader {
		top:65px;
		left:0;
	}
	
	.p_options_block {left:0;}
	
	.p_sort {
		float:none;
		overflow:hidden;
		padding-bottom:10px;
	}
	
	div.p_filter {float:left;}
	
	#commentform label {padding-left:0;}
	
	.cmsms-form-builder select {width:70%;}
	
	.cmsms_slider_parent {
		padding:10px 10px 5px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}
	
	.cmsms_slider_parent a.cmsms_prev_slide {
		top:40%;
		left:-30px;
		padding:0 0 0 10px;
	}
	
	.cmsms_slider_parent a.cmsms_next_slide {
		top:40%;
		right:-30px;
		padding:0 10px 0 0;
	}
	
	.cmsms_slider_parent a.cmsms_prev_slide:hover,
	.cmsms_slider_parent a.cmsms_next_slide:hover {padding:0 5px;}
	
	.cmsms_slider_parent a.cmsms_prev_slide:before, 
	.cmsms_slider_parent a.cmsms_next_slide:before {
		top:-115%;
		height:230%;
	}
	
	.cmsms_slider_parent ul.cmsms_slides_nav {display:none;}
	
	.sitemap_category:before, .sitemap > li:before {width: 130%;}
	
	#contactform input[type="text"] {width:100%;}
	
	input[type="text"], 
	textarea, 
	#commentform input[type="text"], 
	#commentform textarea {width:100%;}
	
	.cmsms_slidershadow:before, 
	.cmsms_slidershadow:after {box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2);}
	
	.ls-container:before, 
	.ls-container:after, 
	.rev_slider_wrapper:before, 
	.rev_slider_wrapper:after {
		left:2%;
		box-shadow:0 3px 4px 2px rgba(0, 0, 0, 0.25);
	}
	
	.ls-container:after, 
	.rev_slider_wrapper:after {
		right:2%;
		left:auto;
	}
	
	
	.one_half {
    	padding-bottom:10px;
    }
}



/* ---------- Mobile (Note: Design for a width less than 451) ---------- */

@media only screen and (max-width: 450px) {
	
	
	
}
	

/* ---------- Mobile (Note: Design for a width less than 401) ---------- */

@media only screen and (max-width: 400px) {
	
	.responsiveSlider {font-size:20%;}
	
	.responsiveSlider h1 {margin-bottom:0;}
	
	.responsiveSlider p,
	.responsiveSlider a.button, 
	.responsiveSlider a.slider_link {display:none;}

	
	#bottom .cmsms-form-builder input[type="text"],
	#bottom .cmsms-form-builder textarea {width:92%;}
	
	.comment-body .name {float:none;}
	
	.portfolio_container.four_blocks, 
	.post_type_shortcode.four_blocks {margin-right:0;}
	
	.one_half, 
	.one_half.last, 
	.one_third, 
	.one_third.last, 
	.two_third, 
	.two_third.last, 
	.three_fourth, 
	.three_fourth.last, 
	.three_fourth+.one_fourth, 
	.one_fourth+.one_half+.one_fourth, 
	.portfolio_container.three_blocks .portfolio, 
	.format-album.two_blocks .cmsms_media .cmsms_media_box, 
	.format-album.three_blocks .cmsms_media .cmsms_media_box {
		float:none;
		padding-right:0;
		width:100%;
	}
	
	.tab_content .tabs_tab h3 {clear:both;}
	
	.fullwidth_divider {width:140%;}	
	
	#footer div.fr {padding-bottom:10px;}
	
	.footer_inner:before {
		right:10%;
		left:10%;
		width:80%;
	}
	
	.cmsms_slidershadow:before, 
	.cmsms_slidershadow:after {box-shadow:0 1px 3px 1px rgba(0, 0, 0, 0.2);}
	
	.ls-container:before, 
	.ls-container:after, 
	.rev_slider_wrapper:before, 
	.rev_slider_wrapper:after {
		left:2%;
		box-shadow:0 1px 4px 2px rgba(0, 0, 0, 0.25);}
	
	.ls-container:after, 
	.rev_slider_wrapper:after {
		right:2%;
		left:auto;
	}
	
	
}



/* ---------- Mobile (Note: Design for a width less than 361) ---------- */

@media only screen and (max-width: 360px) {
	
	
	.comment-body .ovh,
	.widget div.ovh {overflow:visible;}
	
	.post .entry-header {
		clear:both;
		padding-top:10px;
	}
	

	#navigation ul li a span {height:18px;}
	
	#navigation ul li a span {padding-right:5px;}
	
	.p_sort a[name="p_date"], 
	.p_sort a[name="p_name"] {margin-bottom:10px;}
	
	.entry .one_half .ovh, 
	.entry .one_third .ovh, 
	.entry .two_third .ovh, 
	.entry .one_fourth .ovh, 
	.entry .three_fourth .ovh {clear:both;}
	
	.entry .project_navi span {
		display:block;
		position:relative;
		text-align:center;
		width:100%;
	}
	
	
	.colored_button {
		min-height:85px;
		padding:20px 10px 0 20px;
	}
	

	
}

@media (max-width: 480px) {

  .wrap_rev_slider {
    	display:none;
    }

   .logo {
    	margin-bottom:10px;
    }

    .captionHolder {
    	float:none;
    	padding-left:10px;
    }

    .mobileText {
	display:block;
}

    .mobileText p:first-child {
    	text-transform: uppercase;

    }

    .one_third, .two_third {
    	padding-bottom:\0px;
    }
	


} 


/* ---------- Mobile (Note: Design for a width less than 320) ---------- */

@media only screen and (max-width: 320px) {

	#top, #header, .middle_inner, .headline, .cont_nav, .bottom_inner, #top_sidebar, .middle_sidebar, .footer_inner {
    -moz-box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    }

   
	.cmsms_info {
		float:none;
		width:130px;
	}

	
	.p_sort {margin-bottom:0;}
	
	.colored_button {
		min-height:85px;
		padding:20px 5px 0 15px;
	}
	
	.pj_sort {margin-bottom:20px;}

    .reveal {
    	float:none;
    }

}

