<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="We support individuals which may have a Learning Disability, Fragile X, Autism Spectrum Disorder, Challenging Behaviour, Asperger’s Syndrome, Physical Disability, Sensory Impairment and/or a Mental Health Issue, (dual diagnosis)." />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title><%= full_title(yield(:title)) %></title>

  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44913136-1', 'supportedlivingmerthyr.co.uk');
  ga('send', 'pageview');
</script>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oxygen:400,300,700" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Headland+One" type="text/css" />
	
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Favicon -->
  <%= favicon_link_tag 'favicon.ico' %>

  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
  <% end %>

</head>
<body>
 <section id="page">
  <a href="#" id="slide_top">
    <span id="slide_top_hover"></span>
  </a>
 	<%= render 'shared/header' %>
 	 <div class="container">
 	  <%= yield %>
     </div>
 </section>
    <%= render 'shared/footer' %>



</body>
</html>
